In [1]:
import pandas as pd
projects = pd.read_csv('opendata_projects000', escapechar='\\', names=['_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid', 'school_latitude', 'school_longitude', 'school_city', 'school_state', 'school_zip', 'school_metro', 'school_district', 'school_county', 'school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_prefix', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow', 'primary_focus_subject', 'primary_focus_area' ,'secondary_focus_subject', 'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'vendor_shipping_charges', 'sales_tax', 'payment_processing_charges', 'fulfillment_labor_materials', 'total_price_excluding_optional_support', 'total_price_including_optional_support', 'students_reached', 'total_donations', 'num_donors', 'eligible_double_your_impact_match', 'eligible_almost_home_match', 'funding_status', 'date_posted', 'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'])
projects

,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_completed,date_thank_you_packet_mailed,date_expiration
0,7342bd01a2a7725ce033a179d22e382d,5c43ef5eac0f5857c266baa1ccfa3d3f,9e72d6f2f1e9367b578b6479aa5852b7,3.600097e+11,40.688454,-73.910432,New York City,NY,11207.0,urban,...,0.0,251.90,1,f,f,completed,2002-09-13 00:00:00,2002-09-23 00:00:00,2003-01-27 00:00:00,2003-12-31 00:00:00
1,ed87d61cef7fda668ae70be7e0c6cebf,1f4493b3d3fe4a611f3f4d21a249376a,1ae4695be589a36816188e2b301a0395,3.600077e+11,40.765517,-73.960090,New York City,NY,10065.0,NaN,...,0.0,137.00,1,f,f,completed,2002-09-13 00:00:00,2002-09-23 00:00:00,2003-01-03 00:00:00,2003-12-31 00:00:00
2,b56b502d25666e29550d107bf7e17910,57426949b47700ccf62098e1e9b0220c,4a06a328dd87bd29892d73310052f45f,3.600077e+11,40.770233,-73.950760,New York City,NY,10075.0,NaN,...,0.0,125.00,1,f,f,completed,2002-09-16 00:00:00,2002-09-19 00:00:00,2002-12-19 00:00:00,2003-12-31 00:00:00
3,016f03312995d5c89d6b348be4682166,9c0aa56b63b743454d6da9effcf122fc,bb0af5dac1b54693ba86ef63eacd6594,3.600076e+11,40.727826,-73.978721,New York City,NY,10009.0,urban,...,0.0,205.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-17 00:00:00,2002-12-02 00:00:00,2003-12-31 00:00:00
4,cf6275558534ca1b276b0d8d5130dd9a,1d4d8a42730dbb66af1ebb6ab37456b7,768dab263f87881fe7c68ffb3965df7c,3.600083e+11,40.841216,-73.938605,New York City,NY,10032.0,urban,...,0.0,264.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2003-02-26 00:00:00,2003-12-31 00:00:00
5,0b8a4f8eb1822ab6dd5cd9ffb918ece3,e5d28482308e2007992ae8b358b31bce,9bc7d4d92193a453669b6e2a56128e87,3.600077e+11,40.701778,-74.011840,New York City,NY,10004.0,urban,...,0.0,1241.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-17 00:00:00,2003-12-18 00:00:00,2003-12-31 00:00:00
6,d25a7dd645bdfb4d702f177cef5e0d8e,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,317.90,1,f,f,completed,2002-09-17 00:00:00,2002-12-09 00:00:00,2003-08-01 00:00:00,2003-12-31 00:00:00
7,0b9607c9d3deb8b493653ed4f998fc38,454840ad7f58f2486203f73ee78ea2d5,0fad38af2fb328dd01bd3cef38ed42f2,3.600081e+11,40.809677,-73.939178,New York City,NY,10037.0,urban,...,0.0,254.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2003-07-14 00:00:00,2003-12-31 00:00:00
8,e24d8bb3d268a7c837077fa07c153063,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,0.00,0,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2003-08-04 00:00:00,2003-05-17 00:00:00
9,0d97d7543a766a07b3acf2c732844e85,d41b22314bd46c30150e50c4c78bc128,9bd4079c3ace16b8059eda8a42ce79fb,NaN,40.802662,-73.948097,New York City,NY,10026.0,NaN,...,0.0,0.00,0,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2003-05-12 00:00:00,2003-12-31 00:00:00
10,eb886a0ef1f498eb88f774947d3d02d7,b55921c6a3999b1f63e6ef69966b79aa,993e6202ffb7607f9b9ce616dd29140c,3.600091e+11,40.697353,-73.984512,New York City,NY,11201.0,urban,...,0.0,577.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-17 00:00:00,2002-12-03 00:00:00,2003-12-31 00:00:00
11,182f1734c1c6ec13d5544c17cfe838ec,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,363.00,1,f,f,completed,2002-09-17 00:00:00,2002-12-16 00:00:00,2004-01-28 00:00:00,2003-12-31 00:00:00
12,25afa366264801de896a9cdea0e64ae2,c0ff926aa5705245f70073bc7469e038,b5999531e0c1bb628ace29f3bd892e7c,3.600083e+11,40.850571,-73.933990,New York City,NY,10033.0,urban,...,0.0,390.00,1,f,f,completed,2002-09-17 00:00:00,2002-10-03 00:00:00,2003-02-26 00:00:00,2003-12-31 00:00:00
13,2baeda61bab17a9ffdb5652e9c43512b,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,508.20,1,f,f,completed,2002-09-17 00:00:00,2003-01-22 00:00:00,2003-08-11 00:00:00,2003-12-31 00:00:00
14,373107de43223f012a3b66ae409e8c32,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,298.00,1,f,f,completed,2002-09-17 00:00:00,2003-04-24 00:00:00,2004-01-28 00:00:00,2003-12-31 00:00:00
15,3a88a47f97bd0c9b7c6a745bcd831ce3,7a20087fac86232883537cab45c0a6c9,66d08b506d2f3c30dec9e6fdb03cc279,3.600122e+11,40.729763,-73.816925,New York City,NY,11367.0,urban,...,0.0,2110.00,1,f,f,completed,2002-09-17 00:00:00,2003-03-17 00:00:00,2004-06-14 00:00:00,2003-12-31 00:00:00
16,3b5f4ae59d96f719dec6e72f1d10bd28,6504d611038542e638f54899caf35993,9ce97ca91e28b8493e9a911058f7dc24,3.600078e+11,40.791460,-73.970552,New York City,NY,10025.0,urban,...,0.0,313.09,2,f,f,completed,2002-09-17 00:00:00,2002-12-17 00:00:00,2003-02-26 00:00:00,2003-12-31 00:00:00
17,4338725801f6ce84e1d10b912ad21d91,b218f64064e174657336d229e2231962,52835c082f36edc0c90aff0c11a2e9b3,3.600079e+11,40.792306,-73.952037,New York City,NY,10029.0,urban,...,0.0,772.50,3,f,f,completed,2002-09-17 00:00:00,2002-10-03 00:00:00,2003-08-08 00:00:00,2003-12-31 00:00:00
18,45235cb116b3b35cd86d1c3a63961d7d,214d75bd0e6ce3e7085278ddd8f26daa,f7f12dee0009e6f9afa301bcca9d5070,NaN,40.815018,-73.856094,New York City,NY,10473.0,urban,...,0.0,83.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-17 00:00:00,2004-01-28 00:00:00,2003-12-31 00:00:00
19,5821ee8eaab15a3bef73f118188c9505,6ace63f88c1e30fa52e57a6ea1999ecd,6f0382325857ae3469d04800c470c509,NaN,40.753002,-73.992409,New York City,NY,10018.0,NaN,...,0.0,320.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-19 00:00:00,2002-11-19 00:00:00,2003-12-31 00:00:00
20,6ba3b9d6d88a79dfa1acf5f3fcfa3776,0bebe562cdbcf7b14a1dd5f9793a7fd4,5307fce11b85e6ca6618448b1a3a075d,3.600085e+11,40.823649,-73.859879,New York City,NY,10473.0,urban,...,0.0,267.30,1,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2003-08-24 00:00:00,2003-12-31 00:00:00
21,702ef0896a72c258affa87e67b3462ef,e11a44441e604753223fb83ed1e5ef22,7e6d4e9ce212bbcc7ca208c3779095be,3.600103e+11,40.620422,-74.080750,New York City,NY,10304.0,urban,...,0.0,364.10,1,f,f,completed,2002-09-17 00:00:00,2002-11-05 00:00:00,2003-08-20 00:00:00,2003-12-31 00:00:00
22,738da8a7dfd933a291bbc5d03949794a,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,278.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-17 00:00:00,2003-01-30 00:00:00,2003-12-31 00:00:00
23,77e3b131ee90f011f937110e8e8e9cf4,b218f64064e174657336d229e2231962,52835c082f36edc0c90aff0c11a2e9b3,3.600079e+11,40.792306,-73.952037,New York City,NY,10029.0,urban,...,0.0,900.90,1,f,f,completed,2002-09-17 00:00:00,2003-01-28 00:00:00,2004-01-30 00:00:00,2003-12-31 00:00:00
24,7844d34a23f05c7836c1ea64355cd851,982142b095e3df0ddebc12384e464b49,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,0.00,0,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2003-01-03 00:00:00,2003-12-31 00:00:00
25,875534be2b101957c5083af745f68d50,84fd42b69d0db5710f09905939b366fe,5e4af81adba8db885dc6879c34cd5a57,3.600086e+11,40.832818,-73.911691,New York City,NY,10456.0,urban,...,0.0,374.00,1,f,f,completed,2002-09-17 00:00:00,2002-09-17 00:00:00,2003-01-03 00:00:00,2003-12-31 00:00:00
26,912e8cd1a736d2653db1fa91437a95af,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,380.60,1,f,f,completed,2002-09-17 00:00:00,2002-12-16 00:00:00,2003-08-01 00:00:00,2003-12-31 00:00:00
27,97b50c1fef7c22945f16571f5ac5e562,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,367.40,1,f,f,completed,2002-09-17 00:00:00,2002-12-16 00:00:00,2004-01-28 00:00:00,2003-12-31 00:00:00
28,9caf2d27a918a9769bb1f4e345416f4b,0c2d4535f03991165dc72092840d672b,cabcc3ed826056c3969a8a99c5aeeaf6,3.600085e+11,40.829224,-73.856899,New York City,NY,10472.0,urban,...,0.0,146.00,1,f,f,completed,2002-09-17 00:00:00,2002-12-16 00:00:00,2004-01-28 00:00:00,2003-12-31 00:00:00
29,a2b95aabc7e8518b58815d6855da95f2,6ace63f88c1e30fa52e57a6ea1999ecd,6f0382325857ae3469d04800c470c509,NaN,40.753002,-73.992409,New York City,NY,10018.0,NaN,...,0.0,454.30,1,f,f,completed,2002-09-17 00:00:00,2002-09-23 00:00:00,2002-11-19 00:00:00,2003-12-31 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203257,97a8c5f715cd73321ceba5120f83dc7e,ddcfd0e31b584e495b0745b727aa2277,2d533df2bf554df007c69600cef3307e,4.811640e+11,32.299203,-95.620830,Brownsboro,TX,75756.0,rural,...,102.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203258,98ff042321dedeb8a09dc4e2371f83a1,b123bdf529cc877396b4b7e6ceb76d0f,4f11d98b2308ea3787ec205b61deb1bb,6.000281e+10,33.510582,-117.142181,Temecula,CA,92591.0,urban,...,22.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-11 00:00:00
1203259,99015eed4ff88b8bae10b38f94c9603a,416861a4ed393f9a21d80e90d266fd56,c857d3482d772e3d67f318426ecce94d,1.000080e+10,34.697087,-86.750619,Madison,AL,35758.0,suburban,...,16.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203260,9953f438e5f87cdd6638d29806805e65,7090c44f6a589caa01213ee056c819a7,95f8fee8a01a34de33c36ece4a8a4523,NaN,43.646267,-116.563366,Nampa,ID,83687.0,NaN,...,26.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203261,9aba7714878e0029d2bb0f959f1d6430,079bbf63c13d047a1a4b08a494d48a10,08d1a17bc3b67e2935520fcb57430bc1,5.401230e+11,37.629716,-81.107514,Ghent,WV,25843.0,NaN,...,73.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203262,9b19f8c87fe30450184704dda2c1311c,4f82563c203e0610ac6b4d174b9279ce,83eb7eeae447a1f9f92e469a266dd4fb,2.011490e+11,39.114796,-95.615753,Topeka,KS,66617.0,suburban,...,352.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203263,9d20335b8b0f72bd8a5793479245c38d,0f4460268487f1ecabb09e472fcd53a4,a5849335f53f873a1ba8a07c0e17d845,1.023700e+10,30.617933,-88.288767,Mobile,AL,36695.0,NaN,...,62.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203264,9eb7679d3642b594ff5e8d7063e3fe4e,6202dabf7b83a6cdf486120f7e4e0a43,8b329109d1374615b003a73394ad2914,2.504980e+11,42.318507,-71.400584,Framingham,MA,1701.0,urban,...,15.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-01 00:00:00
1203265,a03953689154dcc28303f57248647dca,1a4cfe75fd6bfe3f2f23d2969396b5ca,6d4939f1b9213e0a6b127b9802fe0418,4.811640e+11,32.297087,-95.650350,Brownsboro,TX,75756.0,rural,...,75.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-11 00:00:00
1203266,a1057c66fd32c9a5feb49fe4a9c646bd,5fed13bb584bb2d13ae157ea4ad722ae,d76a08bac0989371581c924614d9a999,6.343201e+10,32.686859,-117.109169,San Diego,CA,92113.0,urban,...,50.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-11 00:00:00
1203267,a1a16af6edde3acdb7deb5b933f15ac9,ead4fdf3087d2141724e79444e9c2a5f,383d571859e8b08a93f15b9175ae6f33,6.026101e+10,33.820537,-117.914883,Anaheim,CA,92805.0,urban,...,32.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-11 00:00:00
1203268,a264b5769bed8620d2fb767ac0b2d1cc,62534684fd717a8dbb5f9a3b1496a3e6,eba312c3f95e30edb17e40d86070d79b,1.002700e+10,30.893509,-87.782493,Bay Minette,AL,36507.0,NaN,...,6.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203269,a2a982fe65e1281fedfe97f83ed31b01,befbe1024da4ff64c47a7a522094ee99,97116e731b7d0fada49ab4861c3ded66,1.303870e+11,32.498717,-84.984664,Columbus,GA,31904.0,urban,...,25.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203270,a37990f80e33aec18ab0294ad19e2826,d2eaa8818d803a15455e9e04ace53edd,34e7bbe2b998c4ef2413ca3dcf571eec,4.812810e+11,35.128834,-101.914642,Amarillo,TX,79119.0,urban,...,25.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-01-29 00:00:00
1203271,a4496245c2975285343ba69df384cc52,504ba18e4fc0ed83eaa160c1c6b9df9f,79092bd1e1a17e2fe3e479fd734fff28,1.201500e+11,26.557474,-80.061469,Boynton Beach,FL,33435.0,suburban,...,17.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-11 00:00:00
1203272,a50148d29ad31f23a06fd610e75af97f,34bd9f44d7cc8f75399c23dd1cbcb489,a7610e3c57d332789ef441c041a11eef,3.624750e+11,43.163593,-77.660110,Rochester,NY,14606.0,urban,...,30.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203273,a512b1a42a1c0a7badb12f7416b321d0,110285306234ad83368ff4194b99700b,9d9879217b79eb3d5c04311eb9a50638,3.704410e+11,36.390744,-80.732067,Dobson,NC,27017.0,rural,...,19.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203274,a555373a1d188d5f48523cd8e7c68075,d3689c2a450299e36384a3e46184aad4,f7731ab435e6793a7b873e25c6df984d,4.845480e+11,32.531249,-94.861732,White Oak,TX,75693.0,suburban,...,90.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203275,a556c1b194ff6a40f56be68fbc0d672e,6a8a9f6d6349a9660a0e83718bbb622d,eeebffe54c816ae6b4cfc516d77426c7,6.420001e+10,34.062515,-117.959595,West Covina,CA,91790.0,suburban,...,68.0,300.00,1,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203276,a5b4dc712d39d43c795c56cd5c4dbe67,49b5b49558c46d6ef5432174e3a522aa,f4de9382a9be6147ed0b08e28d667c24,6.246600e+10,37.364066,-120.616112,Atwater,CA,95301.0,suburban,...,25.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-11 00:00:00
1203277,a741599811d38647eae48462918f1e33,3515ba5933a0372896603e2ada86dd14,f2ed4fe02b9cdb630295f6d1487b17c9,NaN,34.140434,-81.339462,Chapin,SC,29036.0,rural,...,53.0,30.00,1,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-01-28 00:00:00
1203278,a853e6586a976aa057bff950b1fd38ba,d3ce65929224725451acb73a877356b1,ea3113334fcd707c8a315ae305cfd327,4.825170e+11,29.780754,-95.642082,Houston,TX,77079.0,urban,...,80.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-11 00:00:00
1203279,a89a6fa8c58338f2adba7dba81740836,37b75bb1e7aab7f0a009fc124d99a27f,485a387f1e1919f04440e1b15dd8df97,2.201290e+11,31.259027,-92.465734,Alexandria,LA,71301.0,urban,...,16.0,75.00,1,f,f,live,2016-10-11 00:00:00,NaN,NaN,2016-11-19 00:00:00
1203280,a95b01476efc40f94261d3ee6eda2fef,da332a8771baf7c833cd8bfc54002a1d,06a0ad57cb75f654d1e204833cbaff5c,4.900360e+11,40.659268,-112.026824,Salt Lake Cty,UT,84118.0,suburban,...,25.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-05 00:00:00
1203281,a9847bf12fbf3a09d6be6374228f8ecc,35cb3fdd579739b2dd022a0390d62f75,28c5bd06d67fd4b0b2d7f7335321f514,1.200870e+11,27.938044,-82.369774,Tampa,FL,33619.0,suburban,...,600.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203282,aac80bd5eeedeb7b3de07591eba1798e,5cdd34ad15133f592cca41290d0dd4b9,0a8cde9e242ee5639f93d53c5e2a550a,NaN,32.832479,-97.391936,Fort Worth,TX,76179.0,urban,...,160.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203283,ad0cd8ddb72902d1653194ccb58fe33a,85601e3558d8262e4afa2f033de36c49,853e41e17709846e051708e7b40c59b2,1.200930e+11,27.625389,-80.403526,Vero Beach,FL,32960.0,urban,...,30.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203284,ae75a0a5fbfc1658471f8f6261780961,8f1d869f26870f5d4f44bd41943ae1a2,24658492f6044f70039d7847e7bbaef6,NaN,41.829290,-71.427307,Providence,RI,2908.0,urban,...,20.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00
1203285,aeedd03e1cc05c318a7949f1e6e8bdc1,434167b4843c1991cee918a203d188e1,83a24a02298fbb81de0440246f9868c0,2.008250e+11,38.346461,-94.759486,Lacygne,KS,66040.0,rural,...,20.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-06 00:00:00
1203286,b0d8620df70fecf5924d1302ebdcaf3a,4f3aa8f87f70fda625f45ba90a07580a,9b09469d7d614e7aeec65b45935792d9,5.103840e+11,36.866315,-76.035587,Virginia Bch,VA,23454.0,urban,...,50.0,0.00,0,f,f,live,2016-10-11 00:00:00,NaN,NaN,2017-02-10 00:00:00

In [2]:
projects.columns

Index(['_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid',
       'school_latitude', 'school_longitude', 'school_city', 'school_state',
       'school_zip', 'school_metro', 'school_district', 'school_county',
       'school_charter', 'school_magnet', 'school_year_round', 'school_nlns',
       'school_kipp', 'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area',
       'secondary_focus_subject', 'secondary_focus_area', 'resource_type',
       'poverty_level', 'grade_level', 'vendor_shipping_charges', 'sales_tax',
       'payment_processing_charges', 'fulfillment_labor_materials',
       'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'total_donations', 'num_donors', 'eligible_double_your_impact_match',
       'eligible_almost_home_match', 'funding_status', 'date_posted',
       'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'],
      dtype='object')

In [3]:
projects.drop(['_teacher_acctid', '_schoolid', 'school_ncesid',
               'school_district', 'school_county', 'secondary_focus_subject', 
               'secondary_focus_area', 'vendor_shipping_charges', 'sales_tax', 
               'payment_processing_charges', 'fulfillment_labor_materials',
               'date_completed', 'date_thank_you_packet_mailed', ], axis=1, inplace=True)
projects.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration
0,7342bd01a2a7725ce033a179d22e382d,40.688454,-73.910432,New York City,NY,11207.0,urban,f,t,f,...,229.0,279.27,0.0,251.9,1,f,f,completed,2002-09-13 00:00:00,2003-12-31 00:00:00
1,ed87d61cef7fda668ae70be7e0c6cebf,40.765517,-73.960090,New York City,NY,10065.0,NaN,f,f,f,...,125.0,152.44,0.0,137.0,1,f,f,completed,2002-09-13 00:00:00,2003-12-31 00:00:00
2,b56b502d25666e29550d107bf7e17910,40.770233,-73.950760,New York City,NY,10075.0,NaN,f,t,f,...,125.0,152.44,0.0,125.0,1,f,f,completed,2002-09-16 00:00:00,2003-12-31 00:00:00
3,016f03312995d5c89d6b348be4682166,40.727826,-73.978721,New York City,NY,10009.0,urban,f,f,f,...,187.0,228.05,0.0,205.0,1,f,f,completed,2002-09-17 00:00:00,2003-12-31 00:00:00
4,cf6275558534ca1b276b0d8d5130dd9a,40.841216,-73.938605,New York City,NY,10032.0,urban,f,f,f,...,240.0,292.68,0.0,264.0,1,f,f,completed,2002-09-17 00:00:00,2003-12-31 00:00:00

In [4]:
for c in projects.columns:
    print(f"{c}: {projects[c].unique()}")

_projectid: ['7342bd01a2a7725ce033a179d22e382d' 'ed87d61cef7fda668ae70be7e0c6cebf'
 'b56b502d25666e29550d107bf7e17910' ... 'ae75a0a5fbfc1658471f8f6261780961'
 'aeedd03e1cc05c318a7949f1e6e8bdc1' 'b0d8620df70fecf5924d1302ebdcaf3a']
school_latitude: [40.688454   40.765517   40.770233   ... 42.140739   40.026268
 45.15016296]
school_longitude: [ -73.910432    -73.96009     -73.95076    ...  -83.250046    -82.887129
 -122.58894556]
school_city: ['New York City' nan 'Mobile' ... 'Greentown' 'Hawthorn' 'Holdrege']
school_state: ['NY' 'DC' 'AL' 'NC' 'CA' 'IL' 'OK' 'SC' 'LA' 'TX' 'MS' 'La' 'VA' 'NJ'
 'MD' 'IN' 'MO' 'TN' 'KS' 'CO' 'MA' 'RI' 'CT' 'MI' 'MN' 'AZ' 'KY' 'NV'
 'PA' 'IA' 'UT' 'OH' 'WA' 'FL' 'ME' 'NE' 'OR' 'DE' 'WV' 'GA' 'NM' 'ID'
 'WI' 'HI' 'NH' 'VT' 'MT' 'SD' 'AR' 'AK' 'ND' 'WY']
school_zip: [11207. 10065. 10075. ... 61326. 83342. 68949.]
school_metro: ['urban' nan 'rural' 'suburban']
school_charter: ['f' 't']
school_magnet: ['t' 'f']
school_year_round: ['f' 't']
school_nlns: ['f' 't']
school_kipp: ['f' 't']
school_charter_ready_promise: ['f' 't']
teacher_prefix: ['Mr.' 'Ms.' 'Mrs.' 'Teacher' 'Dr.' 'Mr. & Mrs.' nan]
teacher_teach_for_america: ['f' 't']
teacher_ny_teaching_fellow: ['f' 't']
primary_focus_subject: ['Other' 'Literacy' 'Early Development' 'History & Geography' 'Economics'
 'Environmental Science' 'Health & Life Science' 'Literature & Writing'
 'Mathematics' 'Music' 'Visual Arts' 'College & Career Prep'
 'Parent Involvement' 'Social Sciences' 'Civics & Government'
 'Extracurricular' 'Performing Arts' 'Character Education'
 'Applied Sciences' 'Team Sports' 'Foreign Languages' 'Community Service'
 'Special Needs' 'Gym & Fitness' 'ESL' 'Health & Wellness' 'Nutrition' nan
 'Financial Literacy']
primary_focus_area: ['Applied Learning' 'Literacy & Language' 'History & Civics'
 'Math & Science' 'Music & The Arts' 'Health & Sports' 'Special Needs' nan]
resource_type: ['Supplies' 'Books' 'Technology' 'Other' 'Trips' 'Visitors' nan]
poverty_level: ['highest poverty' 'moderate poverty' 'high poverty' 'low poverty']
grade_level: ['Grades 6-8' 'Grades 9-12' 'Grades 3-5' 'Grades PreK-2' nan]
total_price_excluding_optional_support: [ 229.    125.    187.   ... 1740.88 3044.9  1308.27]
total_price_including_optional_support: [ 279.27  152.44  228.05 ... 1170.54 3582.24 1539.14]
students_reached: [  0.  20.  45. ... 831. 731. 649.]
total_donations: [ 251.9   137.    125.   ... 1655.07 2181.26   53.91]
num_donors: [  1   0   2   3   4   5   8   9  12   6  10   7  11  13  19 161  41  32
  15  20  40  14  80  39  34  27  42  45  22  18  31  43  25  16  60  29
  44  17  51  24  35  23  33  28  63  30  26  47  21  37 128  57  50  38
  65 111  36  90  59  52  69  53 237  56  64  71  49  97 157  85  75  62
  61  72  46  48  54 139  58 103 117  55 256  67  70 108 162  86 125  82
 126  92  66 118  88  74  76 211  83 119  68 109  73  93  77  78 102 101
 123 130 166 193 106 135 184  81  96 153 154  79  89 129 140  84 138  98
 173  91 116 232  87 131 121 100 112 134  95 151 307 169 127 107 147  99
 104 152 113 105  94 114 137 110 115 182 156 521 197 136 204 598 120 196
 848 145 313 210 221]
eligible_double_your_impact_match: ['f' 't']
eligible_almost_home_match: ['f' 't']
funding_status: ['completed' 'expired' 'reallocated' 'live']
date_posted: ['2002-09-13 00:00:00' '2002-09-16 00:00:00' '2002-09-17 00:00:00' ...
 '2016-10-09 00:00:00' '2016-10-10 00:00:00' '2016-10-11 00:00:00']
date_expiration: ['2003-12-31 00:00:00' '2003-05-17 00:00:00' '2004-12-31 00:00:00' ...
 '2017-03-25 00:00:00' '2017-05-06 00:00:00' '2017-02-11 00:00:00']

In [5]:
projects.count()

_projectid                                1203287
school_latitude                           1203287
school_longitude                          1203287
school_city                               1193492
school_state                              1203287
school_zip                                1203283
school_metro                              1059692
school_charter                            1203287
school_magnet                             1203287
school_year_round                         1203287
school_nlns                               1203287
school_kipp                               1203287
school_charter_ready_promise              1203287
teacher_prefix                            1203241
teacher_teach_for_america                 1203287
teacher_ny_teaching_fellow                1203287
primary_focus_subject                     1203241
primary_focus_area                        1203241
resource_type                             1203235
poverty_level                             1203287
grade_level                               1203224
total_price_excluding_optional_support    1203287
total_price_including_optional_support    1203287
students_reached                          1203132
total_donations                           1203287
num_donors                                1203287
eligible_double_your_impact_match         1203287
eligible_almost_home_match                1203287
funding_status                            1203287
date_posted                               1203287
date_expiration                           1203073
dtype: int64

In [6]:
proj = projects[projects.funding_status != 'live']
proj.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration
0,7342bd01a2a7725ce033a179d22e382d,40.688454,-73.910432,New York City,NY,11207.0,urban,f,t,f,...,229.0,279.27,0.0,251.9,1,f,f,completed,2002-09-13 00:00:00,2003-12-31 00:00:00
1,ed87d61cef7fda668ae70be7e0c6cebf,40.765517,-73.960090,New York City,NY,10065.0,NaN,f,f,f,...,125.0,152.44,0.0,137.0,1,f,f,completed,2002-09-13 00:00:00,2003-12-31 00:00:00
2,b56b502d25666e29550d107bf7e17910,40.770233,-73.950760,New York City,NY,10075.0,NaN,f,t,f,...,125.0,152.44,0.0,125.0,1,f,f,completed,2002-09-16 00:00:00,2003-12-31 00:00:00
3,016f03312995d5c89d6b348be4682166,40.727826,-73.978721,New York City,NY,10009.0,urban,f,f,f,...,187.0,228.05,0.0,205.0,1,f,f,completed,2002-09-17 00:00:00,2003-12-31 00:00:00
4,cf6275558534ca1b276b0d8d5130dd9a,40.841216,-73.938605,New York City,NY,10032.0,urban,f,f,f,...,240.0,292.68,0.0,264.0,1,f,f,completed,2002-09-17 00:00:00,2003-12-31 00:00:00

In [7]:
proj.count()

_projectid                                1139787
school_latitude                           1139787
school_longitude                          1139787
school_city                               1130263
school_state                              1139787
school_zip                                1139783
school_metro                              1005212
school_charter                            1139787
school_magnet                             1139787
school_year_round                         1139787
school_nlns                               1139787
school_kipp                               1139787
school_charter_ready_promise              1139787
teacher_prefix                            1139741
teacher_teach_for_america                 1139787
teacher_ny_teaching_fellow                1139787
primary_focus_subject                     1139741
primary_focus_area                        1139741
resource_type                             1139735
poverty_level                             1139787
grade_level                               1139724
total_price_excluding_optional_support    1139787
total_price_including_optional_support    1139787
students_reached                          1139632
total_donations                           1139787
num_donors                                1139787
eligible_double_your_impact_match         1139787
eligible_almost_home_match                1139787
funding_status                            1139787
date_posted                               1139787
date_expiration                           1139573
dtype: int64

In [8]:
proj = proj.loc[proj['date_expiration'] >= '2016-01-01']

In [9]:
proj.count()

_projectid                                240814
school_latitude                           240814
school_longitude                          240814
school_city                               239760
school_state                              240814
school_zip                                240814
school_metro                              208236
school_charter                            240814
school_magnet                             240814
school_year_round                         240814
school_nlns                               240814
school_kipp                               240814
school_charter_ready_promise              240814
teacher_prefix                            240791
teacher_teach_for_america                 240814
teacher_ny_teaching_fellow                240814
primary_focus_subject                     240812
primary_focus_area                        240812
resource_type                             240812
poverty_level                             240814
grade_level                               240797
total_price_excluding_optional_support    240814
total_price_including_optional_support    240814
students_reached                          240812
total_donations                           240814
num_donors                                240814
eligible_double_your_impact_match         240814
eligible_almost_home_match                240814
funding_status                            240814
date_posted                               240814
date_expiration                           240814
dtype: int64

In [10]:
proj['funding_status'].unique()

array(['expired', 'completed', 'reallocated'], dtype=object)

In [11]:
proj['funding_status'].replace(['completed', 'expired'],['success', 'failure'],inplace=True)
proj['funding_status'].unique()

array(['failure', 'success', 'reallocated'], dtype=object)

In [12]:
proj['funding_status'].replace(['reallocated'],['failure'],inplace=True)
proj['funding_status'].unique()

array(['failure', 'success'], dtype=object)

In [13]:
proj['date_expiration'] = pd.to_datetime(proj['date_expiration'])
proj['date_posted'] = pd.to_datetime(proj['date_posted'])

In [14]:
proj.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,2046.93,2496.26,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,2655.78,3238.76,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,671.38,818.76,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,445.88,543.76,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,674.45,822.50,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31

In [15]:
proj.dropna(inplace=True)
proj.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,2046.93,2496.26,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,2655.78,3238.76,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,671.38,818.76,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,445.88,543.76,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,674.45,822.50,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31

In [16]:
proj.count()

_projectid                                207209
school_latitude                           207209
school_longitude                          207209
school_city                               207209
school_state                              207209
school_zip                                207209
school_metro                              207209
school_charter                            207209
school_magnet                             207209
school_year_round                         207209
school_nlns                               207209
school_kipp                               207209
school_charter_ready_promise              207209
teacher_prefix                            207209
teacher_teach_for_america                 207209
teacher_ny_teaching_fellow                207209
primary_focus_subject                     207209
primary_focus_area                        207209
resource_type                             207209
poverty_level                             207209
grade_level                               207209
total_price_excluding_optional_support    207209
total_price_including_optional_support    207209
students_reached                          207209
total_donations                           207209
num_donors                                207209
eligible_double_your_impact_match         207209
eligible_almost_home_match                207209
funding_status                            207209
date_posted                               207209
date_expiration                           207209
dtype: int64

In [17]:
proj['timespan'] = proj['date_expiration']-proj['date_posted']
proj.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration,timespan
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,2496.26,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17,4201 days
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,3238.76,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17,4129 days
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,818.76,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29,3864 days
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,543.76,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26,3823 days
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,822.50,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31,4010 days

In [18]:
proj.count()

_projectid                                207209
school_latitude                           207209
school_longitude                          207209
school_city                               207209
school_state                              207209
school_zip                                207209
school_metro                              207209
school_charter                            207209
school_magnet                             207209
school_year_round                         207209
school_nlns                               207209
school_kipp                               207209
school_charter_ready_promise              207209
teacher_prefix                            207209
teacher_teach_for_america                 207209
teacher_ny_teaching_fellow                207209
primary_focus_subject                     207209
primary_focus_area                        207209
resource_type                             207209
poverty_level                             207209
grade_level                               207209
total_price_excluding_optional_support    207209
total_price_including_optional_support    207209
students_reached                          207209
total_donations                           207209
num_donors                                207209
eligible_double_your_impact_match         207209
eligible_almost_home_match                207209
funding_status                            207209
date_posted                               207209
date_expiration                           207209
timespan                                  207209
dtype: int64

In [19]:
proj.to_csv('proj_cleaned.csv')

In [20]:
proj['timespan']

6865      4201 days
8029      4129 days
10301     3864 days
16434     3823 days
16445     4010 days
16571     4006 days
16655     4004 days
16759     3998 days
16862     3994 days
17059     3992 days
17528     3980 days
17554     3979 days
18235     3961 days
18912     3944 days
19007     3836 days
19517     3935 days
19555     3933 days
20164     3921 days
20300     3918 days
21049     3902 days
21198     3902 days
21199     3704 days
21464     3894 days
22283     3686 days
22515     3869 days
22818     3858 days
22906     3855 days
23410     3839 days
23505     3835 days
23644     3607 days
             ...
1202625    123 days
1202636     91 days
1202639    123 days
1202647    121 days
1202659    116 days
1202667    119 days
1202668    123 days
1202686    120 days
1202691    119 days
1202698    123 days
1202722    123 days
1202764    123 days
1202830    119 days
1202890    123 days
1202899     53 days
1202903    123 days
1202908    123 days
1202910    123 days
1202915    123 days
1202921    111 days
1202924    123 days
1202927    105 days
1202932    118 days
1202956    123 days
1202983    123 days
1203010    123 days
1203015    123 days
1203016    123 days
1203038    117 days
1203170    111 days
Name: timespan, Length: 207209, dtype: timedelta64[ns]

In [21]:
proj['timespan'] = proj['timespan'].map(lambda x: x.days)
proj

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration,timespan
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,2496.26,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17,4201
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,3238.76,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17,4129
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,818.76,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29,3864
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,543.76,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26,3823
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,822.50,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31,4010
16571,e60d22af70d53e2c76a225a61618f233,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,412.50,25.0,385.24,2,f,f,success,2006-01-12,2016-12-31,4006
16655,a037be87faf4a4d6b98715b1fe9a2ef2,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,353.76,29.0,294.00,2,f,f,success,2006-01-14,2016-12-31,4004
16759,0f6b9e2694706bc7565f2bd6a32004d3,33.980891,-118.368531,Inglewood,CA,90302.0,suburban,f,f,f,...,850.00,150.0,810.84,2,f,f,success,2006-01-20,2016-12-31,3998
16862,348bf4d3de47f629995da6f4ea51344b,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,251.26,25.0,239.30,4,f,f,success,2006-01-24,2016-12-31,3994
17059,f885a70d5f1c5b4602de226a05d503e1,33.980891,-118.368531,Inglewood,CA,90302.0,suburban,f,f,f,...,200.00,150.0,191.24,3,f,f,success,2006-01-26,2016-12-31,3992
17528,b0e3d3cdd3d4d43d78bfcb9f1116502c,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,233.76,29.0,220.43,1,f,f,success,2006-02-07,2016-12-31,3980
17554,8a9768755135c6c4980efa87a48c722d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,123.76,29.0,118.95,2,f,f,success,2006-02-08,2016-12-31,3979
18235,6829d01e79ac647ac658c9621c09ea35,32.911179,-96.723640,Dallas,TX,75243.0,urban,f,f,f,...,1125.00,22.0,1068.34,15,f,f,success,2006-02-26,2016-12-31,3961
18912,c500c784e80a6817c3f7bbb574240332,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,371.26,25.0,353.02,3,f,f,success,2006-03-15,2016-12-31,3944
19007,d53db9362e2944f8ea488e729b19712d,40.620396,-73.959225,New York City,NY,11230.0,urban,f,f,f,...,2201.22,10.0,120.00,3,f,f,failure,2006-03-16,2016-09-15,3836
19517,a63a39656dcad4ccb641e2d98ab53c64,34.988880,-81.971687,Spartanburg,SC,29303.0,suburban,f,f,f,...,1002.50,20.0,838.00,4,f,f,success,2006-03-24,2016-12-31,3935
19555,1ee859e075507e182031d65f963d4f39,34.988880,-81.971687,Spartanburg,SC,29303.0,suburban,f,f,f,...,620.00,6.0,540.00,2,f,f,success,2006-03-26,2016-12-31,3933
20164,e77c05acaaeab1c7474f561e2d6cddcd,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,567.50,21.0,0.00,0,f,f,failure,2006-04-07,2016-12-31,3921
20300,c6c2b01505079883f2a8b33cf84e2e9b,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,297.50,29.0,283.92,2,f,f,success,2006-04-10,2016-12-31,3918
21049,ba522b629e056d55ff8c0d7d1e1f2359,40.756828,-73.729321,New York City,NY,11362.0,urban,f,f,t,...,736.26,100.0,694.29,1,f,f,success,2006-04-24,2016-12-29,3902
21198,ab945fa146a1184223bd6c20bfd20486,40.756828,-73.729321,New York City,NY,11362.0,urban,f,f,t,...,891.26,100.0,814.16,7,f,f,success,2006-04-26,2016-12-31,3902
21199,ac5c23ae1cdeaab2104148da046bedbb,35.788055,-82.033035,Marion,NC,28752.0,rural,f,f,f,...,2653.74,40.0,0.00,0,f,f,failure,2006-04-26,2016-06-16,3704
21464,0454f01968347846c66328d22a352a61,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,537.50,19.0,0.00,0,f,f,failure,2006-05-03,2016-12-30,3894
22283,3345b2c8b9f426b8969b03540e10414b,41.919402,-87.731316,Chicago,IL,60639.0,urban,f,f,f,...,1905.00,70.0,1817.24,2,f,f,success,2006-05-22,2016-06-24,3686
22515,5222b1ce37f946e6e87312d0591411a5,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,478.76,29.0,451.47,1,f,f,success,2006-05-29,2016-12-31,3869
22818,27d0ff6af693b548f6326219b0815e13,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,131.26,25.0,123.77,1,f,f,success,2006-06-09,2016-12-31,3858
22906,74ef349e02c0b50337d11265cfcdf618,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,340.00,6.0,328.00,2,f,f,success,2006-06-12,2016-12-31,3855
23410,6a74f2705facf637e1b75ff9cfe826f4,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,435.00,12.0,419.65,2,f,f,success,2006-06-28,2016-12-31,3839
23505,bf24bb7d53e119573533e717583f4a4a,41.865633,-87.676044,Chicago,IL,60608.0,urban,f,t,f,...,278.76,40.0,262.87,1,f,f,success,2006-07-02,2016-12-31,3835
23644,346845051e3741fb9d548f0b834deed5,41.919402,-87.731316,Chicago,IL,60639.0,urban,f,f,f,...,1327.50,70.0,1236.53,16,f,f,success,2006-07-06,2016-05-21,3607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202625,42431896ef370a7995405b1c8ae811c6,30.504344,-90.924336,Denham Springs,LA,70726.0,suburban,f,f,f,...,596.46,400.0,506.99,1,f,f,success,2016-10-10,2017-02-10,123
1202636,f86efe3a1190b99e1e686806b4ad1a63,40.053138,-75.069680,Philadelphia,PA,19111.0,urban,f,f,f,...,197.79,100.0,197.79,3,f,f,success,2016-10-10,2017-01-09,91
1202639,443e9055251d58aca8198bca05495e73,34.296596,-119.296596,Ventura,CA,93001.0,urban,f,f,f,...,421.12,24.0,357.95,1,f,f,success,2016-10-10,2017-02-10,123
1202647,453783b5d5daf31261112551be3bd1bc,40.053138,-75.069680,Philadelphia,PA,19111.0,urban,f,f,f,...,805.48,95.0,800.00,9,f,f,success,2016-10-10,2017-02-08,121
1202659,4721e67478389fafcd7d9348c8b8cb31,30.562881,-91.042206,Baton Rouge,LA,70818.0,suburban,f,f,f,...,1434.56,22.0,1219.38,1,f,f,success,2016-10-10,2017-02-03,116
1202667,47cecc8ceab4e276cbe7c11656167dc2,29.727499,-95.320923,Houston,TX,77023.0,urban,t,f,f,...,214.35,60.0,182.20,1,f,f,success,2016-10-10,2017-02-06,119
1202668,fc443f263b2b498a448c84c392da278d,37.271030,-82.939972,Littcarr,KY,41834.0,rural,f,f,f,...,599.64,15.0,0.00,0,f,f,failure,2016-10-10,2017-02-10,123
1202686,ff3e81f917092a6f5d49d0f36cdc0ffd,33.652191,-117.970801,Huntingtn Beach,CA,92646.0,suburban,f,f,f,...,184.22,250.0,170.99,2,f,f,success,2016-10-10,2017-02-07,120
1202691,4ad61f6eba1f22778d348e24afb984c6,47.847546,-122.305092,Lynnwood,WA,98037.0,suburban,f,f,f,...,598.86,25.0,598.86,1,f,f,success,2016-10-10,2017-02-06,119
1202698,ffcf621a381bbfbbc51d6e2cba12883d,30.408545,-97.687915,Austin,TX,78758.0,urban,f,f,f,...,412.58,19.0,412.58,5,f,f,success,2016-10-10,2017-02-10,123
1202722,51e50a783a2e8579319d23f92e704969,42.305195,-85.613177,Kalamazoo,MI,49006.0,suburban,f,f,f,...,223.56,220.0,190.03,2,f,f,success,2016-10-10,2017-02-10,123
1202764,5d717789a17a74484beee1b85649a2d6,40.716880,-73.794197,New York City,NY,11432.0,urban,f,f,f,...,177.31,230.0,177.31,3,f,f,success,2016-10-10,2017-02-10,123
1202830,70b9c285b86de60e0320ab56bf2fb1d2,30.272251,-90.904368,Gonzales,LA,70737.0,suburban,f,f,f,...,2566.19,100.0,2181.26,1,f,f,success,2016-10-10,2017-02-06,119
1202890,8012285c8f91be922601f13067a599ef,34.838573,-82.321510,Greenville,SC,29607.0,urban,f,t,f,...,469.47,16.0,460.65,8,f,f,success,2016-10-10,2017-02-10,123
1202899,8270f34140ac02c58a2c7a12f41b9778,40.710754,-73.996806,New York City,NY,10038.0,urban,f,f,f,...,244.67,30.0,0.00,0,f,f,failure,2016-10-10,2016-12-02,53
1202903,83bc962335f6e0741154dacdbf8c0c62,41.488232,-90.452049,East Moline,IL,61244.0,suburban,f,f,f,...,4040.09,250.0,0.00,0,f,f,failure,2016-10-10,2017-02-10,123
1202908,86a09a7971a693e3352405a2a3320438,40.048832,-75.076876,Philadelphia,PA,19111.0,urban,f,f,f,...,254.12,29.0,254.12,4,f,f,success,2016-10-10,2017-02-10,123
1202910,86e411ead8b39dd1ab6aa735bd4c3296,32.604773,-117.032664,Chula Vista,CA,91911.0,suburban,f,f,f,...,654.27,10.0,0.00,0,f,f,failure,2016-10-10,2017-02-10,123
1202915,8726517b8e0ed5674e7c6d1987866f07,33.866486,-118.297037,Gardena,CA,90248.0,urban,f,t,f,...,183.25,180.0,159.06,1,f,f,success,2016-10-10,2017-02-10,123
1202921,889c78705ec0727f03735d03c005c6ff,30.461050,-91.072086,Baton Rouge,LA,70815.0,urban,f,f,f,...,413.16,12.0,351.19,1,f,f,success,2016-10-10,2017-01-29,111
1202924,89022a6fa9c1546caf128254184592d4,39.004506,-94.124189,Oak Grove,MO,64075.0,suburban,f,f,f,...,797.48,22.0,0.00,0,f,f,failure,2016-10-10,2017-02-10,123
1202927,8a6a3e778e722c940c0d5b70d4b57552,45.516563,-122.486771,Portland,OR,97233.0,urban,f,f,f,...,201.11,25.0,201.11,2,f,f,success,2016-10-10,2017-01-23,105
1202932,8bf512141f10120b1e9a7e5aa628be02,41.692982,-73.912369,Poughkeepsie,NY,12603.0,suburban,f,f,f,...,570.86,90.0,570.86,2,f,f,success,2016-10-10,2017-02-05,118
1202956,9419ac535753f8b637a94f990d623a6c,37.659042,-122.416199,S San Francisco,CA,94080.0,urban,f,f,f,...,172.16,21.0,172.16,2,f,f,success,2016-10-10,2017-02-10,123
1202983,9d71e41312ac9ac0009311016b0400cf,33.461098,-111.989609,Phoenix,AZ,85008.0,urban,f,f,f,...,178.31,22.0,163.31,2,f,f,success,2016-10-10,2017-02-10,123
1203010,a89c378a19f5dcd69b7ca8e97c6bf81e,36.052131,-79.818365,Greensboro,NC,27403.0,urban,f,f,f,...,203.49,16.0,203.49,1,f,f,success,2016-10-10,2017-02-10,123
1203015,aa2d6beaeaec7bc4d2e2a63fa92bbeeb,30.392318,-90.767048,Livingston,LA,70754.0,rural,f,f,f,...,262.58,14.0,230.69,3,f,f,success,2016-10-10,2017-02-10,123
1203016,aaaabd35bdc4390793b61b8d32980bb5,35.131035,-80.851196,Charlotte,NC,28210.0,urban,f,t,f,...,333.82,27.0,333.82,7,f,f,success,2016-10-10,2017-02-10,123
1203038,b031b413345e7552681dac195a74c919,33.862759,-117.986313,Buena Park,CA,90621.0,suburban,f,f,f,...,397.19,23.0,397.19,1,f,f,success,2016-10-10,2017-02-04,117
1203170,4fc2700eb1a6c14f8390b532b1c2bc4d,43.040722,-89.398376,Madison,WI,53713.0,urban,f,f,f,...,508.14,36.0,431.92,1,f,f,success,2016-10-11,2017-01-30,111

In [22]:
proj['timespan'].min()

-242

In [23]:
#new_timespan = []
#for t in proj['timespan']:
#    new_timespan.append(t.days)
#    
#print(proj['timespan'])
#print(new_timespan)

In [24]:
#new_new_ts = pd.Series(new_timespan)
#proj['timespan'] = new_new_ts

In [25]:
proj.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration,timespan
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,2496.26,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17,4201
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,3238.76,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17,4129
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,818.76,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29,3864
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,543.76,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26,3823
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,822.50,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31,4010

In [26]:
proj_tspan = proj.copy()
proj_tspan.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,total_price_including_optional_support,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration,timespan
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,2496.26,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17,4201
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,3238.76,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17,4129
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,818.76,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29,3864
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,543.76,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26,3823
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,822.50,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31,4010

In [27]:
proj_tspan.columns

Index(['_projectid', 'school_latitude', 'school_longitude', 'school_city',
       'school_state', 'school_zip', 'school_metro', 'school_charter',
       'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp',
       'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area', 'resource_type',
       'poverty_level', 'grade_level',
       'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'total_donations', 'num_donors', 'eligible_double_your_impact_match',
       'eligible_almost_home_match', 'funding_status', 'date_posted',
       'date_expiration', 'timespan'],
      dtype='object')

In [28]:
proj_tspan.drop(['school_metro', 'school_charter', 'school_magnet', 'school_year_round',
       'school_nlns', 'school_kipp', 'school_charter_ready_promise',
       'teacher_prefix', 'teacher_teach_for_america',
       'teacher_ny_teaching_fellow', 'primary_focus_subject',
       'primary_focus_area', 'resource_type', 'poverty_level', 'grade_level',
       'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'funding_status'], axis=1, inplace=True)

In [29]:
proj_tspan.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,total_donations,num_donors,date_posted,date_expiration,timespan
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,0.00,0,2004-12-16,2016-06-17,4201
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,0.00,0,2005-02-26,2016-06-17,4129
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,0.00,0,2005-07-01,2016-01-29,3864
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,458.00,3,2006-01-07,2016-06-26,3823
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,737.03,19,2006-01-08,2016-12-31,4010

In [30]:
proj=proj.loc[proj['timespan']>=0]

In [31]:
proj.count()

_projectid                                207207
school_latitude                           207207
school_longitude                          207207
school_city                               207207
school_state                              207207
school_zip                                207207
school_metro                              207207
school_charter                            207207
school_magnet                             207207
school_year_round                         207207
school_nlns                               207207
school_kipp                               207207
school_charter_ready_promise              207207
teacher_prefix                            207207
teacher_teach_for_america                 207207
teacher_ny_teaching_fellow                207207
primary_focus_subject                     207207
primary_focus_area                        207207
resource_type                             207207
poverty_level                             207207
grade_level                               207207
total_price_excluding_optional_support    207207
total_price_including_optional_support    207207
students_reached                          207207
total_donations                           207207
num_donors                                207207
eligible_double_your_impact_match         207207
eligible_almost_home_match                207207
funding_status                            207207
date_posted                               207207
date_expiration                           207207
timespan                                  207207
dtype: int64

In [32]:
proj['month_posted'] = proj['date_posted'].map(lambda x: x.month)
proj.head()

/Users/nicolearendt/anaconda3/envs/python_data/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration,timespan,month_posted
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17,4201,12
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17,4129,2
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29,3864,7
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26,3823,1
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31,4010,1

In [33]:
proj.to_csv('proj_cleaned_2016.csv')

In [34]:
proj.iloc[143213]

_projectid                                88d2ed587dce7ef5c649367e7da3dc44
school_latitude                                                    40.6043
school_longitude                                                  -73.9553
school_city                                                  New York City
school_state                                                            NY
school_zip                                                           11229
school_metro                                                         urban
school_charter                                                           f
school_magnet                                                            t
school_year_round                                                        f
school_nlns                                                              f
school_kipp                                                              f
school_charter_ready_promise                                             f
teacher_prefix                                                        Mrs.
teacher_teach_for_america                                                f
teacher_ny_teaching_fellow                                               f
primary_focus_subject                                  Character Education
primary_focus_area                                        Applied Learning
resource_type                                                   Technology
poverty_level                                              highest poverty
grade_level                                                     Grades 6-8
total_price_excluding_optional_support                              5983.4
total_price_including_optional_support                             7039.29
students_reached                                                       500
total_donations                                                          0
num_donors                                                               0
eligible_double_your_impact_match                                        f
eligible_almost_home_match                                               f
funding_status                                                     failure
date_posted                                            2016-05-22 00:00:00
date_expiration                                        2016-09-20 00:00:00
timespan                                                               121
month_posted                                                             5
Name: 1065202, dtype: object

In [35]:
#proj.drop(['date_posted','date_expiration'],axis=1,inplace=True)

In [36]:
proj.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration,timespan,month_posted
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17,4201,12
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17,4129,2
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29,3864,7
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26,3823,1
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31,4010,1

In [37]:
proj.columns

Index(['_projectid', 'school_latitude', 'school_longitude', 'school_city',
       'school_state', 'school_zip', 'school_metro', 'school_charter',
       'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp',
       'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area', 'resource_type',
       'poverty_level', 'grade_level',
       'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'total_donations', 'num_donors', 'eligible_double_your_impact_match',
       'eligible_almost_home_match', 'funding_status', 'date_posted',
       'date_expiration', 'timespan', 'month_posted'],
      dtype='object')

In [38]:
proj.loc[proj['timespan'] < 0]

Empty DataFrame
Columns: [_projectid, school_latitude, school_longitude, school_city, school_state, school_zip, school_metro, school_charter, school_magnet, school_year_round, school_nlns, school_kipp, school_charter_ready_promise, teacher_prefix, teacher_teach_for_america, teacher_ny_teaching_fellow, primary_focus_subject, primary_focus_area, resource_type, poverty_level, grade_level, total_price_excluding_optional_support, total_price_including_optional_support, students_reached, total_donations, num_donors, eligible_double_your_impact_match, eligible_almost_home_match, funding_status, date_posted, date_expiration, timespan, month_posted]
Index: []

[0 rows x 33 columns]

In [39]:
proj.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration,timespan,month_posted
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,42.0,0.00,0,f,f,failure,2004-12-16,2016-06-17,4201,12
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,urban,f,f,f,...,42.0,0.00,0,f,f,failure,2005-02-26,2016-06-17,4129,2
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,suburban,f,f,f,...,16.0,0.00,0,f,f,failure,2005-07-01,2016-01-29,3864,7
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,urban,f,f,f,...,375.0,458.00,3,f,f,success,2006-01-07,2016-06-26,3823,1
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,urban,f,f,f,...,29.0,737.03,19,f,f,success,2006-01-08,2016-12-31,4010,1

In [40]:
proj['school_metro'].unique()

array(['urban', 'suburban', 'rural'], dtype=object)

In [41]:
proj['school_metro'].replace(['urban', 'rural', 'suburban'],[0,1,2],inplace=True)
proj['school_metro'].unique()

/Users/nicolearendt/anaconda3/envs/python_data/lib/python3.6/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

array([0, 2, 1])

In [42]:
proj['school_charter'].unique()

array(['f', 't'], dtype=object)

In [43]:
proj['school_charter'].replace(['f', 't'],[0,1],inplace=True)
proj['school_charter'].unique()

array([0, 1])

In [44]:
for c in proj.columns:
    print(c, proj[c].unique())

_projectid ['cf61d93f54f6aa46747db15b23eda4a0' '2dfe551457c5b086113c205d3dfcf03a'
 '6c412f598392c6498c46e5be9bdbdbab' ... 'aaaabd35bdc4390793b61b8d32980bb5'
 'b031b413345e7552681dac195a74c919' '4fc2700eb1a6c14f8390b532b1c2bc4d']
school_latitude [41.765977 35.755771 40.71605  ... 35.082615 32.720689 41.692982]
school_longitude [ -87.653093  -80.974552  -73.99092  ...  -80.827366 -117.2346
  -73.912369]
school_city ['Chicago' 'Statesville' 'New York City' ... 'La Vernia' 'Kokhanok'
 'Balmorhea']
school_state ['IL' 'NC' 'NY' 'CA' 'TX' 'SC' 'OR' 'MO' 'RI' 'PA' 'KY' 'MA' 'NJ' 'OK'
 'GA' 'IN' 'KS' 'OH' 'UT' 'FL' 'MN' 'WI' 'NV' 'CO' 'TN' 'VA' 'MD' 'WA'
 'CT' 'AK' 'ID' 'HI' 'AZ' 'MS' 'LA' 'WV' 'AL' 'AR' 'MI' 'ME' 'IA' 'MT'
 'DE' 'NM' 'NE' 'NH' 'SD' 'VT' 'ND' 'WY']
school_zip [60621. 28677. 10002. ... 79718. 48847. 35004.]
school_metro [0 2 1]
school_charter [0 1]
school_magnet ['f' 't']
school_year_round ['f' 't']
school_nlns ['f' 't']
school_kipp ['f' 't']
school_charter_ready_promise ['f' 't']
teacher_prefix ['Ms.' 'Mrs.' 'Mr.' 'Teacher' 'Dr.']
teacher_teach_for_america ['f' 't']
teacher_ny_teaching_fellow ['f' 't']
primary_focus_subject ['Literacy' 'Other' 'Team Sports' 'Applied Sciences' 'Special Needs' 'ESL'
 'Visual Arts' 'Music' 'Literature & Writing' 'Early Development'
 'History & Geography' 'College & Career Prep' 'Character Education'
 'Health & Wellness' 'Mathematics' 'Health & Life Science'
 'Parent Involvement' 'Performing Arts' 'Environmental Science'
 'Foreign Languages' 'Civics & Government' 'Social Sciences'
 'Gym & Fitness' 'Community Service' 'Extracurricular' 'Nutrition'
 'Financial Literacy' 'Economics']
primary_focus_area ['Literacy & Language' 'Applied Learning' 'Health & Sports'
 'Math & Science' 'Special Needs' 'Music & The Arts' 'History & Civics']
resource_type ['Technology' 'Books' 'Supplies' 'Other' 'Visitors' 'Trips']
poverty_level ['highest poverty' 'high poverty' 'moderate poverty' 'low poverty']
grade_level ['Grades 3-5' 'Grades PreK-2' 'Grades 6-8' 'Grades 9-12']
total_price_excluding_optional_support [2046.93 2655.78  671.38 ... 2181.26 3434.08  556.13]
total_price_including_optional_support [2496.26 3238.76  818.76 ... 2566.19 4040.09  654.27]
students_reached [ 42.  16. 375.  29.  25. 150.  22.  10.  20.   6.  21. 100.  40.  19.
  70.  12.  14.  35. 102. 185. 135. 173. 470.  28.  30. 200.  80. 340.
   8.  60.  65.  75.  18. 108.  90.  24. 350.  50.  95. 165. 132.  15.
  55. 115.  39. 330. 320. 130. 230. 109. 149. 120.  56. 240. 250. 999.
  17.  68.   9. 110. 300. 105. 450.  44.  26.  84. 160. 128.  96. 550.
 380. 357.  27.  32. 400. 155.  43.   3.  85.  48.  59. 175.  33. 990.
 125.  57. 475.  23.  64. 180.  37.  45. 750.  71. 210.  62. 189. 220.
  82. 427.  31. 440. 170.  46.  36. 497. 225. 140.  83.  52.  72. 700.
 600. 675.  11. 104.  38. 800. 420. 900. 525. 216.  13. 156. 730. 425.
 650. 141. 500.  99. 190. 145. 658. 138. 290.  54.  66. 237.  34.  93.
 262. 580.   7. 172. 235. 171. 196. 540. 850.   5. 157. 460. 432. 620.
 139. 260. 325. 183. 740. 727.  47.  58. 430. 483. 390. 875. 192. 585.
 917. 706. 106. 451. 950. 830. 360. 187. 112. 162.  91. 207. 186. 177.
   2.  76. 174. 627. 197. 530. 415. 280. 127.  53.  51. 665. 377.  49.
 468. 520.  78.  63. 263. 370.  81. 311. 655. 690. 609.  67. 930.  88.
  87. 176. 804. 570. 164.   4. 158. 965.  94. 645. 124. 136. 751.  41.
 760.  97. 310. 590.  73. 195. 208.  92. 153. 485. 960. 705. 214.  69.
   1. 480. 265. 252. 442. 560. 660. 178. 865.  89. 595. 121. 211. 267.
 670. 107. 215. 720. 940.  74. 493. 703. 820. 867. 213. 365. 929. 154.
 282. 980. 630. 678. 813. 535.  98. 198. 152.  79. 255.  77. 144. 244.
 921. 245. 640. 455. 542. 222. 161. 137. 270. 168. 133. 545. 184. 116.
 909. 638. 780.  61. 188. 435. 275. 204. 142. 126. 490. 131. 293.  86.
 538. 805. 114. 491. 205. 122. 757. 117. 968. 101. 169. 103. 508. 573.
 997. 840. 725. 826. 362. 486. 113. 305. 118. 726. 163. 975. 218. 510.
 294. 147. 111. 437. 860. 531. 385. 202. 182. 407. 422. 134. 291. 143.
 942. 335. 146. 643. 610. 519. 166. 905. 810. 236. 575. 369. 775. 345.
 148. 315. 285. 770. 447. 517. 790. 151. 996. 671. 129. 914. 224. 227.
 625. 518. 318. 619. 268. 825. 287. 749. 167. 798. 123. 223. 715. 515.
 193. 608. 419. 416. 339. 512. 459. 242. 615. 363. 856. 635. 524. 632.
 302. 301. 295. 859. 677. 253. 523. 199. 752. 728. 159. 410. 332. 355.
 565. 308. 541. 246. 384. 446. 348. 346. 652. 322. 601. 238. 514. 554.
 477. 503. 258. 853. 314. 680. 626. 438. 297. 970. 870. 465. 404. 317.
 890. 915. 264. 201. 553. 587. 688. 304. 719. 578. 489. 993. 685. 539.
 119. 306. 364. 428. 814. 529. 387. 194. 543. 916. 479. 639. 616. 228.
 209. 835. 605. 217. 327. 248. 448. 396. 511. 388. 462. 372. 668. 445.
 779. 326. 219. 478. 374. 309. 925. 591. 484. 206. 353. 532. 504. 763.
 212. 574. 642. 797. 487. 611. 623. 785. 495. 406. 319. 298. 735. 444.
 864. 765. 452. 181. 534. 555. 234. 713. 562. 351. 417. 251. 689. 399.
 394. 549. 656. 612. 976. 842. 254. 666. 333. 273. 777. 221. 458. 358.
 256. 436. 991. 745. 303. 774. 724. 863. 395. 617. 352. 902. 403. 283.
 272. 558. 758. 405. 331. 569. 492. 636. 334. 693. 586. 845. 756. 633.
 755. 561. 431. 392. 653. 481. 336. 984. 552. 276. 712. 456. 463. 329.
 398. 812. 408. 271. 556. 631. 861. 721. 624. 607. 686. 464. 953. 547.
 257. 461. 618. 687. 516. 382. 292. 383. 985. 634. 261. 469. 657. 439.
 987. 848. 957. 343. 509. 577. 424. 829. 426. 288. 488. 367. 661. 324.
 872. 659. 278. 988. 628. 651. 783. 928. 832. 443. 274. 536. 376. 710.
 412. 913. 179. 978. 878. 379. 676. 513. 347. 507. 467. 502. 946. 323.
 472. 983. 571. 226. 373. 697. 279. 948. 986. 584. 401. 667. 537. 466.
 454. 737. 596. 296. 423. 289. 699. 356. 594. 576. 815. 603. 476. 337.
 389. 203. 908. 328. 397. 381. 761. 654. 849. 789. 526. 473. 471. 778.
 593. 695. 748. 787. 551. 956. 341. 947. 604. 342. 952. 801. 673. 378.
 681. 429. 920. 277. 588. 701. 528. 521. 281. 764. 563. 457. 622. 321.
 366. 393. 998. 672. 338. 567. 606. 579. 243. 827. 411. 768. 894. 663.
 954. 637. 409. 877. 819. 239. 708. 284. 766. 506. 418. 482. 682. 709.
 683. 959. 674. 839. 548. 391. 831. 269. 527. 739. 885. 955. 828. 232.
 354. 803. 834. 229. 707. 646. 602. 936. 753. 732. 453. 312. 494. 621.
 191. 414. 564. 729. 817. 546. 762. 589. 994. 614. 433. 568. 572. 711.
 501. 582. 533. 498. 793. 368. 879. 648. 669. 286. 855. 505. 402. 821.
 958. 449. 822. 522. 413. 807. 544. 266. 945. 662. 592.]
total_donations [   0.    458.    737.03 ...  190.03 2181.26  431.92]
num_donors [  0   3  19   2   4   1  15   7  16   8   6   5  10  27  13  11  22  28
   9  20  14  12  33 313  30  21  24  80  32  17  18  25  26  56  44  38
  35  40  31  46  23  45  70  54  43  55  95  47  48  73  34  29  36  77
  50  53  65 117  39  37  51  42  86  68  67 137  41  61  60  58  59  90
  76  52  62  49 127 147 123 101 100  88 210  75  57  69  74  64 130  66
  63  78  81 129  89  91 221  72  97  79  85  98 108]
eligible_double_your_impact_match ['f' 't']
eligible_almost_home_match ['f' 't']
funding_status ['failure' 'success']
date_posted ['2004-12-16T00:00:00.000000000' '2005-02-26T00:00:00.000000000'
 '2005-07-01T00:00:00.000000000' '2006-01-07T00:00:00.000000000'
 '2006-01-08T00:00:00.000000000' '2006-01-12T00:00:00.000000000'
 '2006-01-14T00:00:00.000000000' '2006-01-20T00:00:00.000000000'
 '2006-01-24T00:00:00.000000000' '2006-01-26T00:00:00.000000000'
 '2006-02-07T00:00:00.000000000' '2006-02-08T00:00:00.000000000'
 '2006-02-26T00:00:00.000000000' '2006-03-15T00:00:00.000000000'
 '2006-03-16T00:00:00.000000000' '2006-03-24T00:00:00.000000000'
 '2006-03-26T00:00:00.000000000' '2006-04-07T00:00:00.000000000'
 '2006-04-10T00:00:00.000000000' '2006-04-24T00:00:00.000000000'
 '2006-04-26T00:00:00.000000000' '2006-05-03T00:00:00.000000000'
 '2006-05-22T00:00:00.000000000' '2006-05-29T00:00:00.000000000'
 '2006-06-09T00:00:00.000000000' '2006-06-12T00:00:00.000000000'
 '2006-06-28T00:00:00.000000000' '2006-07-02T00:00:00.000000000'
 '2006-07-06T00:00:00.000000000' '2006-07-13T00:00:00.000000000'
 '2006-07-16T00:00:00.000000000' '2006-07-20T00:00:00.000000000'
 '2006-08-01T00:00:00.000000000' '2006-08-10T00:00:00.000000000'
 '2006-08-27T00:00:00.000000000' '2006-09-09T00:00:00.000000000'
 '2006-09-18T00:00:00.000000000' '2006-09-25T00:00:00.000000000'
 '2006-09-28T00:00:00.000000000' '2006-10-04T00:00:00.000000000'
 '2006-10-05T00:00:00.000000000' '2006-10-11T00:00:00.000000000'
 '2006-10-12T00:00:00.000000000' '2006-10-16T00:00:00.000000000'
 '2006-10-17T00:00:00.000000000' '2006-10-20T00:00:00.000000000'
 '2006-10-21T00:00:00.000000000' '2006-10-23T00:00:00.000000000'
 '2006-10-24T00:00:00.000000000' '2006-11-07T00:00:00.000000000'
 '2006-11-08T00:00:00.000000000' '2006-11-11T00:00:00.000000000'
 '2006-11-16T00:00:00.000000000' '2006-11-17T00:00:00.000000000'
 '2006-11-18T00:00:00.000000000' '2006-11-21T00:00:00.000000000'
 '2006-11-22T00:00:00.000000000' '2006-11-29T00:00:00.000000000'
 '2006-12-10T00:00:00.000000000' '2006-12-12T00:00:00.000000000'
 '2006-12-13T00:00:00.000000000' '2006-12-27T00:00:00.000000000'
 '2007-01-02T00:00:00.000000000' '2007-01-03T00:00:00.000000000'
 '2015-02-12T00:00:00.000000000' '2015-06-17T00:00:00.000000000'
 '2015-07-25T00:00:00.000000000' '2015-08-03T00:00:00.000000000'
 '2015-08-05T00:00:00.000000000' '2015-08-07T00:00:00.000000000'
 '2015-08-08T00:00:00.000000000' '2015-08-09T00:00:00.000000000'
 '2015-08-10T00:00:00.000000000' '2015-08-12T00:00:00.000000000'
 '2015-08-13T00:00:00.000000000' '2015-08-14T00:00:00.000000000'
 '2015-08-15T00:00:00.000000000' '2015-08-17T00:00:00.000000000'
 '2015-08-18T00:00:00.000000000' '2015-08-19T00:00:00.000000000'
 '2015-08-20T00:00:00.000000000' '2015-08-21T00:00:00.000000000'
 '2015-08-22T00:00:00.000000000' '2015-08-23T00:00:00.000000000'
 '2015-08-24T00:00:00.000000000' '2015-08-25T00:00:00.000000000'
 '2015-08-26T00:00:00.000000000' '2015-08-27T00:00:00.000000000'
 '2015-08-28T00:00:00.000000000' '2015-08-29T00:00:00.000000000'
 '2015-08-30T00:00:00.000000000' '2015-08-31T00:00:00.000000000'
 '2015-09-01T00:00:00.000000000' '2015-09-02T00:00:00.000000000'
 '2015-09-03T00:00:00.000000000' '2015-09-04T00:00:00.000000000'
 '2015-09-05T00:00:00.000000000' '2015-09-06T00:00:00.000000000'
 '2015-09-07T00:00:00.000000000' '2015-09-08T00:00:00.000000000'
 '2015-09-09T00:00:00.000000000' '2015-09-10T00:00:00.000000000'
 '2015-09-11T00:00:00.000000000' '2015-09-12T00:00:00.000000000'
 '2015-09-13T00:00:00.000000000' '2015-09-14T00:00:00.000000000'
 '2015-09-15T00:00:00.000000000' '2015-09-16T00:00:00.000000000'
 '2015-09-17T00:00:00.000000000' '2015-09-18T00:00:00.000000000'
 '2015-09-19T00:00:00.000000000' '2015-09-20T00:00:00.000000000'
 '2015-09-21T00:00:00.000000000' '2015-09-22T00:00:00.000000000'
 '2015-09-23T00:00:00.000000000' '2015-09-24T00:00:00.000000000'
 '2015-09-25T00:00:00.000000000' '2015-09-26T00:00:00.000000000'
 '2015-09-27T00:00:00.000000000' '2015-09-28T00:00:00.000000000'
 '2015-09-29T00:00:00.000000000' '2015-09-30T00:00:00.000000000'
 '2015-10-01T00:00:00.000000000' '2015-10-02T00:00:00.000000000'
 '2015-10-03T00:00:00.000000000' '2015-10-04T00:00:00.000000000'
 '2015-10-05T00:00:00.000000000' '2015-10-06T00:00:00.000000000'
 '2015-10-07T00:00:00.000000000' '2015-10-08T00:00:00.000000000'
 '2015-10-09T00:00:00.000000000' '2015-10-10T00:00:00.000000000'
 '2015-10-11T00:00:00.000000000' '2015-10-12T00:00:00.000000000'
 '2015-10-13T00:00:00.000000000' '2015-10-14T00:00:00.000000000'
 '2015-10-15T00:00:00.000000000' '2015-10-16T00:00:00.000000000'
 '2015-10-17T00:00:00.000000000' '2015-10-18T00:00:00.000000000'
 '2015-10-19T00:00:00.000000000' '2015-10-20T00:00:00.000000000'
 '2015-10-21T00:00:00.000000000' '2015-10-22T00:00:00.000000000'
 '2015-10-23T00:00:00.000000000' '2015-10-24T00:00:00.000000000'
 '2015-10-25T00:00:00.000000000' '2015-10-26T00:00:00.000000000'
 '2015-10-27T00:00:00.000000000' '2015-10-28T00:00:00.000000000'
 '2015-10-29T00:00:00.000000000' '2015-10-30T00:00:00.000000000'
 '2015-10-31T00:00:00.000000000' '2015-11-01T00:00:00.000000000'
 '2015-11-02T00:00:00.000000000' '2015-11-03T00:00:00.000000000'
 '2015-11-04T00:00:00.000000000' '2015-11-05T00:00:00.000000000'
 '2015-11-06T00:00:00.000000000' '2015-11-07T00:00:00.000000000'
 '2015-11-08T00:00:00.000000000' '2015-11-09T00:00:00.000000000'
 '2015-11-10T00:00:00.000000000' '2015-11-11T00:00:00.000000000'
 '2015-11-12T00:00:00.000000000' '2015-11-13T00:00:00.000000000'
 '2015-11-14T00:00:00.000000000' '2015-11-15T00:00:00.000000000'
 '2015-11-16T00:00:00.000000000' '2015-11-17T00:00:00.000000000'
 '2015-11-18T00:00:00.000000000' '2015-11-19T00:00:00.000000000'
 '2015-11-20T00:00:00.000000000' '2015-11-21T00:00:00.000000000'
 '2015-11-22T00:00:00.000000000' '2015-11-23T00:00:00.000000000'
 '2015-11-24T00:00:00.000000000' '2015-11-25T00:00:00.000000000'
 '2015-11-26T00:00:00.000000000' '2015-11-27T00:00:00.000000000'
 '2015-11-28T00:00:00.000000000' '2015-11-29T00:00:00.000000000'
 '2015-11-30T00:00:00.000000000' '2015-12-01T00:00:00.000000000'
 '2015-12-02T00:00:00.000000000' '2015-12-03T00:00:00.000000000'
 '2015-12-04T00:00:00.000000000' '2015-12-05T00:00:00.000000000'
 '2015-12-06T00:00:00.000000000' '2015-12-07T00:00:00.000000000'
 '2015-12-08T00:00:00.000000000' '2015-12-09T00:00:00.000000000'
 '2015-12-10T00:00:00.000000000' '2015-12-11T00:00:00.000000000'
 '2015-12-12T00:00:00.000000000' '2015-12-13T00:00:00.000000000'
 '2015-12-14T00:00:00.000000000' '2015-12-15T00:00:00.000000000'
 '2015-12-16T00:00:00.000000000' '2015-12-17T00:00:00.000000000'
 '2015-12-18T00:00:00.000000000' '2015-12-19T00:00:00.000000000'
 '2015-12-20T00:00:00.000000000' '2015-12-21T00:00:00.000000000'
 '2015-12-22T00:00:00.000000000' '2015-12-23T00:00:00.000000000'
 '2015-12-24T00:00:00.000000000' '2015-12-25T00:00:00.000000000'
 '2015-12-26T00:00:00.000000000' '2015-12-27T00:00:00.000000000'
 '2015-12-28T00:00:00.000000000' '2015-12-29T00:00:00.000000000'
 '2015-12-30T00:00:00.000000000' '2015-12-31T00:00:00.000000000'
 '2016-01-01T00:00:00.000000000' '2016-01-02T00:00:00.000000000'
 '2016-01-03T00:00:00.000000000' '2016-01-04T00:00:00.000000000'
 '2016-01-05T00:00:00.000000000' '2016-01-06T00:00:00.000000000'
 '2016-01-07T00:00:00.000000000' '2016-01-08T00:00:00.000000000'
 '2016-01-09T00:00:00.000000000' '2016-01-10T00:00:00.000000000'
 '2016-01-11T00:00:00.000000000' '2016-01-12T00:00:00.000000000'
 '2016-01-13T00:00:00.000000000' '2016-01-14T00:00:00.000000000'
 '2016-01-15T00:00:00.000000000' '2016-01-16T00:00:00.000000000'
 '2016-01-17T00:00:00.000000000' '2016-01-18T00:00:00.000000000'
 '2016-01-19T00:00:00.000000000' '2016-01-20T00:00:00.000000000'
 '2016-01-21T00:00:00.000000000' '2016-01-22T00:00:00.000000000'
 '2016-01-23T00:00:00.000000000' '2016-01-24T00:00:00.000000000'
 '2016-01-25T00:00:00.000000000' '2016-01-26T00:00:00.000000000'
 '2016-01-27T00:00:00.000000000' '2016-01-28T00:00:00.000000000'
 '2016-01-29T00:00:00.000000000' '2016-01-30T00:00:00.000000000'
 '2016-01-31T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-02-02T00:00:00.000000000' '2016-02-03T00:00:00.000000000'
 '2016-02-04T00:00:00.000000000' '2016-02-05T00:00:00.000000000'
 '2016-02-06T00:00:00.000000000' '2016-02-07T00:00:00.000000000'
 '2016-02-08T00:00:00.000000000' '2016-02-09T00:00:00.000000000'
 '2016-02-10T00:00:00.000000000' '2016-02-11T00:00:00.000000000'
 '2016-02-12T00:00:00.000000000' '2016-02-13T00:00:00.000000000'
 '2016-02-14T00:00:00.000000000' '2016-02-15T00:00:00.000000000'
 '2016-02-16T00:00:00.000000000' '2016-02-17T00:00:00.000000000'
 '2016-02-18T00:00:00.000000000' '2016-02-19T00:00:00.000000000'
 '2016-02-20T00:00:00.000000000' '2016-02-21T00:00:00.000000000'
 '2016-02-22T00:00:00.000000000' '2016-02-23T00:00:00.000000000'
 '2016-02-24T00:00:00.000000000' '2016-02-25T00:00:00.000000000'
 '2016-02-26T00:00:00.000000000' '2016-02-27T00:00:00.000000000'
 '2016-02-28T00:00:00.000000000' '2016-02-29T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-03-02T00:00:00.000000000'
 '2016-03-03T00:00:00.000000000' '2016-03-04T00:00:00.000000000'
 '2016-03-05T00:00:00.000000000' '2016-03-06T00:00:00.000000000'
 '2016-03-07T00:00:00.000000000' '2016-03-08T00:00:00.000000000'
 '2016-03-09T00:00:00.000000000' '2016-03-10T00:00:00.000000000'
 '2016-03-11T00:00:00.000000000' '2016-03-12T00:00:00.000000000'
 '2016-03-13T00:00:00.000000000' '2016-03-14T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-03-16T00:00:00.000000000'
 '2016-03-17T00:00:00.000000000' '2016-03-18T00:00:00.000000000'
 '2016-03-19T00:00:00.000000000' '2016-03-20T00:00:00.000000000'
 '2016-03-21T00:00:00.000000000' '2016-03-22T00:00:00.000000000'
 '2016-03-23T00:00:00.000000000' '2016-03-24T00:00:00.000000000'
 '2016-03-25T00:00:00.000000000' '2016-03-26T00:00:00.000000000'
 '2016-03-27T00:00:00.000000000' '2016-03-28T00:00:00.000000000'
 '2016-03-29T00:00:00.000000000' '2016-03-30T00:00:00.000000000'
 '2016-03-31T00:00:00.000000000' '2016-04-01T00:00:00.000000000'
 '2016-04-02T00:00:00.000000000' '2016-04-03T00:00:00.000000000'
 '2016-04-04T00:00:00.000000000' '2016-04-05T00:00:00.000000000'
 '2016-04-06T00:00:00.000000000' '2016-04-07T00:00:00.000000000'
 '2016-04-08T00:00:00.000000000' '2016-04-09T00:00:00.000000000'
 '2016-04-10T00:00:00.000000000' '2016-04-11T00:00:00.000000000'
 '2016-04-12T00:00:00.000000000' '2016-04-13T00:00:00.000000000'
 '2016-04-14T00:00:00.000000000' '2016-04-15T00:00:00.000000000'
 '2016-04-16T00:00:00.000000000' '2016-04-17T00:00:00.000000000'
 '2016-04-18T00:00:00.000000000' '2016-04-19T00:00:00.000000000'
 '2016-04-20T00:00:00.000000000' '2016-04-21T00:00:00.000000000'
 '2016-04-22T00:00:00.000000000' '2016-04-23T00:00:00.000000000'
 '2016-04-24T00:00:00.000000000' '2016-04-25T00:00:00.000000000'
 '2016-04-26T00:00:00.000000000' '2016-04-27T00:00:00.000000000'
 '2016-04-28T00:00:00.000000000' '2016-04-29T00:00:00.000000000'
 '2016-04-30T00:00:00.000000000' '2016-05-01T00:00:00.000000000'
 '2016-05-02T00:00:00.000000000' '2016-05-03T00:00:00.000000000'
 '2016-05-04T00:00:00.000000000' '2016-05-05T00:00:00.000000000'
 '2016-05-06T00:00:00.000000000' '2016-05-07T00:00:00.000000000'
 '2016-05-08T00:00:00.000000000' '2016-05-09T00:00:00.000000000'
 '2016-05-10T00:00:00.000000000' '2016-05-11T00:00:00.000000000'
 '2016-05-12T00:00:00.000000000' '2016-05-13T00:00:00.000000000'
 '2016-05-14T00:00:00.000000000' '2016-05-15T00:00:00.000000000'
 '2016-05-16T00:00:00.000000000' '2016-05-17T00:00:00.000000000'
 '2016-05-18T00:00:00.000000000' '2016-05-19T00:00:00.000000000'
 '2016-05-20T00:00:00.000000000' '2016-05-21T00:00:00.000000000'
 '2016-05-22T00:00:00.000000000' '2016-05-23T00:00:00.000000000'
 '2016-05-24T00:00:00.000000000' '2016-05-25T00:00:00.000000000'
 '2016-05-26T00:00:00.000000000' '2016-05-27T00:00:00.000000000'
 '2016-05-28T00:00:00.000000000' '2016-05-29T00:00:00.000000000'
 '2016-05-30T00:00:00.000000000' '2016-05-31T00:00:00.000000000'
 '2016-06-01T00:00:00.000000000' '2016-06-02T00:00:00.000000000'
 '2016-06-03T00:00:00.000000000' '2016-06-04T00:00:00.000000000'
 '2016-06-05T00:00:00.000000000' '2016-06-06T00:00:00.000000000'
 '2016-06-07T00:00:00.000000000' '2016-06-08T00:00:00.000000000'
 '2016-06-09T00:00:00.000000000' '2016-06-10T00:00:00.000000000'
 '2016-06-11T00:00:00.000000000' '2016-06-12T00:00:00.000000000'
 '2016-06-13T00:00:00.000000000' '2016-06-14T00:00:00.000000000'
 '2016-06-15T00:00:00.000000000' '2016-06-16T00:00:00.000000000'
 '2016-06-17T00:00:00.000000000' '2016-06-18T00:00:00.000000000'
 '2016-06-19T00:00:00.000000000' '2016-06-20T00:00:00.000000000'
 '2016-06-21T00:00:00.000000000' '2016-06-22T00:00:00.000000000'
 '2016-06-23T00:00:00.000000000' '2016-06-24T00:00:00.000000000'
 '2016-06-25T00:00:00.000000000' '2016-06-26T00:00:00.000000000'
 '2016-06-27T00:00:00.000000000' '2016-06-28T00:00:00.000000000'
 '2016-06-29T00:00:00.000000000' '2016-06-30T00:00:00.000000000'
 '2016-07-01T00:00:00.000000000' '2016-07-02T00:00:00.000000000'

In [45]:
proj['school_magnet'].unique()

array(['f', 't'], dtype=object)

In [46]:
proj['school_magnet'].replace(['f', 't'],[0,1],inplace=True)
proj['school_magnet'].unique()

array([0, 1])

In [47]:
proj['school_year_round'].replace(['f', 't'],[0,1],inplace=True)
proj['school_year_round'].unique()

array([0, 1])

In [48]:
proj['school_nlns'].replace(['f', 't'],[0,1],inplace=True)
proj['school_nlns'].unique()

array([0, 1])

In [49]:
proj['school_kipp'].replace(['f', 't'],[0,1],inplace=True)
proj['school_kipp'].unique()

array([0, 1])

In [50]:
proj['school_charter_ready_promise'].replace(['f', 't'],[0,1],inplace=True)
proj['school_charter_ready_promise'].unique()

array([0, 1])

In [51]:
proj['teacher_prefix'].replace(['Mr.', 'Ms.', 'Mrs.', 'Teacher', 'Dr.', 'Mr. & Mrs.'], [0,1,2,3,4,5],inplace=True)
proj['teacher_prefix'].unique()

array([1, 2, 0, 3, 4])

In [52]:
proj['teacher_teach_for_america'].replace(['f', 't'],[0,1],inplace=True)
proj['teacher_teach_for_america'].unique()

array([0, 1])

In [53]:
proj['teacher_ny_teaching_fellow'].replace(['f', 't'],[0,1],inplace=True)
proj['teacher_ny_teaching_fellow'].unique()

array([0, 1])

In [54]:
len(proj['primary_focus_subject'].unique())

28

In [55]:
proj['primary_focus_subject'].unique()

array(['Literacy', 'Other', 'Team Sports', 'Applied Sciences',
       'Special Needs', 'ESL', 'Visual Arts', 'Music',
       'Literature & Writing', 'Early Development', 'History & Geography',
       'College & Career Prep', 'Character Education',
       'Health & Wellness', 'Mathematics', 'Health & Life Science',
       'Parent Involvement', 'Performing Arts', 'Environmental Science',
       'Foreign Languages', 'Civics & Government', 'Social Sciences',
       'Gym & Fitness', 'Community Service', 'Extracurricular',
       'Nutrition', 'Financial Literacy', 'Economics'], dtype=object)

In [56]:
proj['primary_focus_subject'].replace(['Literacy', 'Other', 'Team Sports', 'Applied Sciences',
       'Special Needs', 'ESL', 'Visual Arts', 'Music',
       'Literature & Writing', 'Early Development', 'History & Geography',
       'College & Career Prep', 'Character Education',
       'Health & Wellness', 'Mathematics', 'Health & Life Science',
       'Parent Involvement', 'Social Sciences', 'Performing Arts',
       'Environmental Science', 'Foreign Languages',
       'Civics & Government', 'Gym & Fitness', 'Community Service',
       'Extracurricular', 'Nutrition', 'Financial Literacy', 'Economics'], 
        [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27],inplace=True)
proj['primary_focus_subject'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       18, 19, 20, 21, 17, 22, 23, 24, 25, 26, 27])

In [57]:
len(proj['primary_focus_area'].unique())

7

In [58]:
proj['primary_focus_area'].unique()

array(['Literacy & Language', 'Applied Learning', 'Health & Sports',
       'Math & Science', 'Special Needs', 'Music & The Arts',
       'History & Civics'], dtype=object)

In [59]:
proj['primary_focus_area'].replace(['Literacy & Language', 'Applied Learning', 'Health & Sports',
       'Math & Science', 'Special Needs', 'Music & The Arts',
       'History & Civics'],[0,1,2,3,4,5,6],inplace=True)
proj['primary_focus_area'].unique()

array([0, 1, 2, 3, 4, 5, 6])

In [60]:
for c in proj.columns:
    print(c, proj[c].unique())

_projectid ['cf61d93f54f6aa46747db15b23eda4a0' '2dfe551457c5b086113c205d3dfcf03a'
 '6c412f598392c6498c46e5be9bdbdbab' ... 'aaaabd35bdc4390793b61b8d32980bb5'
 'b031b413345e7552681dac195a74c919' '4fc2700eb1a6c14f8390b532b1c2bc4d']
school_latitude [41.765977 35.755771 40.71605  ... 35.082615 32.720689 41.692982]
school_longitude [ -87.653093  -80.974552  -73.99092  ...  -80.827366 -117.2346
  -73.912369]
school_city ['Chicago' 'Statesville' 'New York City' ... 'La Vernia' 'Kokhanok'
 'Balmorhea']
school_state ['IL' 'NC' 'NY' 'CA' 'TX' 'SC' 'OR' 'MO' 'RI' 'PA' 'KY' 'MA' 'NJ' 'OK'
 'GA' 'IN' 'KS' 'OH' 'UT' 'FL' 'MN' 'WI' 'NV' 'CO' 'TN' 'VA' 'MD' 'WA'
 'CT' 'AK' 'ID' 'HI' 'AZ' 'MS' 'LA' 'WV' 'AL' 'AR' 'MI' 'ME' 'IA' 'MT'
 'DE' 'NM' 'NE' 'NH' 'SD' 'VT' 'ND' 'WY']
school_zip [60621. 28677. 10002. ... 79718. 48847. 35004.]
school_metro [0 2 1]
school_charter [0 1]
school_magnet [0 1]
school_year_round [0 1]
school_nlns [0 1]
school_kipp [0 1]
school_charter_ready_promise [0 1]
teacher_prefix [1 2 0 3 4]
teacher_teach_for_america [0 1]
teacher_ny_teaching_fellow [0 1]
primary_focus_subject [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 18 19 20 21 17 22 23
 24 25 26 27]
primary_focus_area [0 1 2 3 4 5 6]
resource_type ['Technology' 'Books' 'Supplies' 'Other' 'Visitors' 'Trips']
poverty_level ['highest poverty' 'high poverty' 'moderate poverty' 'low poverty']
grade_level ['Grades 3-5' 'Grades PreK-2' 'Grades 6-8' 'Grades 9-12']
total_price_excluding_optional_support [2046.93 2655.78  671.38 ... 2181.26 3434.08  556.13]
total_price_including_optional_support [2496.26 3238.76  818.76 ... 2566.19 4040.09  654.27]
students_reached [ 42.  16. 375.  29.  25. 150.  22.  10.  20.   6.  21. 100.  40.  19.
  70.  12.  14.  35. 102. 185. 135. 173. 470.  28.  30. 200.  80. 340.
   8.  60.  65.  75.  18. 108.  90.  24. 350.  50.  95. 165. 132.  15.
  55. 115.  39. 330. 320. 130. 230. 109. 149. 120.  56. 240. 250. 999.
  17.  68.   9. 110. 300. 105. 450.  44.  26.  84. 160. 128.  96. 550.
 380. 357.  27.  32. 400. 155.  43.   3.  85.  48.  59. 175.  33. 990.
 125.  57. 475.  23.  64. 180.  37.  45. 750.  71. 210.  62. 189. 220.
  82. 427.  31. 440. 170.  46.  36. 497. 225. 140.  83.  52.  72. 700.
 600. 675.  11. 104.  38. 800. 420. 900. 525. 216.  13. 156. 730. 425.
 650. 141. 500.  99. 190. 145. 658. 138. 290.  54.  66. 237.  34.  93.
 262. 580.   7. 172. 235. 171. 196. 540. 850.   5. 157. 460. 432. 620.
 139. 260. 325. 183. 740. 727.  47.  58. 430. 483. 390. 875. 192. 585.
 917. 706. 106. 451. 950. 830. 360. 187. 112. 162.  91. 207. 186. 177.
   2.  76. 174. 627. 197. 530. 415. 280. 127.  53.  51. 665. 377.  49.
 468. 520.  78.  63. 263. 370.  81. 311. 655. 690. 609.  67. 930.  88.
  87. 176. 804. 570. 164.   4. 158. 965.  94. 645. 124. 136. 751.  41.
 760.  97. 310. 590.  73. 195. 208.  92. 153. 485. 960. 705. 214.  69.
   1. 480. 265. 252. 442. 560. 660. 178. 865.  89. 595. 121. 211. 267.
 670. 107. 215. 720. 940.  74. 493. 703. 820. 867. 213. 365. 929. 154.
 282. 980. 630. 678. 813. 535.  98. 198. 152.  79. 255.  77. 144. 244.
 921. 245. 640. 455. 542. 222. 161. 137. 270. 168. 133. 545. 184. 116.
 909. 638. 780.  61. 188. 435. 275. 204. 142. 126. 490. 131. 293.  86.
 538. 805. 114. 491. 205. 122. 757. 117. 968. 101. 169. 103. 508. 573.
 997. 840. 725. 826. 362. 486. 113. 305. 118. 726. 163. 975. 218. 510.
 294. 147. 111. 437. 860. 531. 385. 202. 182. 407. 422. 134. 291. 143.
 942. 335. 146. 643. 610. 519. 166. 905. 810. 236. 575. 369. 775. 345.
 148. 315. 285. 770. 447. 517. 790. 151. 996. 671. 129. 914. 224. 227.
 625. 518. 318. 619. 268. 825. 287. 749. 167. 798. 123. 223. 715. 515.
 193. 608. 419. 416. 339. 512. 459. 242. 615. 363. 856. 635. 524. 632.
 302. 301. 295. 859. 677. 253. 523. 199. 752. 728. 159. 410. 332. 355.
 565. 308. 541. 246. 384. 446. 348. 346. 652. 322. 601. 238. 514. 554.
 477. 503. 258. 853. 314. 680. 626. 438. 297. 970. 870. 465. 404. 317.
 890. 915. 264. 201. 553. 587. 688. 304. 719. 578. 489. 993. 685. 539.
 119. 306. 364. 428. 814. 529. 387. 194. 543. 916. 479. 639. 616. 228.
 209. 835. 605. 217. 327. 248. 448. 396. 511. 388. 462. 372. 668. 445.
 779. 326. 219. 478. 374. 309. 925. 591. 484. 206. 353. 532. 504. 763.
 212. 574. 642. 797. 487. 611. 623. 785. 495. 406. 319. 298. 735. 444.
 864. 765. 452. 181. 534. 555. 234. 713. 562. 351. 417. 251. 689. 399.
 394. 549. 656. 612. 976. 842. 254. 666. 333. 273. 777. 221. 458. 358.
 256. 436. 991. 745. 303. 774. 724. 863. 395. 617. 352. 902. 403. 283.
 272. 558. 758. 405. 331. 569. 492. 636. 334. 693. 586. 845. 756. 633.
 755. 561. 431. 392. 653. 481. 336. 984. 552. 276. 712. 456. 463. 329.
 398. 812. 408. 271. 556. 631. 861. 721. 624. 607. 686. 464. 953. 547.
 257. 461. 618. 687. 516. 382. 292. 383. 985. 634. 261. 469. 657. 439.
 987. 848. 957. 343. 509. 577. 424. 829. 426. 288. 488. 367. 661. 324.
 872. 659. 278. 988. 628. 651. 783. 928. 832. 443. 274. 536. 376. 710.
 412. 913. 179. 978. 878. 379. 676. 513. 347. 507. 467. 502. 946. 323.
 472. 983. 571. 226. 373. 697. 279. 948. 986. 584. 401. 667. 537. 466.
 454. 737. 596. 296. 423. 289. 699. 356. 594. 576. 815. 603. 476. 337.
 389. 203. 908. 328. 397. 381. 761. 654. 849. 789. 526. 473. 471. 778.
 593. 695. 748. 787. 551. 956. 341. 947. 604. 342. 952. 801. 673. 378.
 681. 429. 920. 277. 588. 701. 528. 521. 281. 764. 563. 457. 622. 321.
 366. 393. 998. 672. 338. 567. 606. 579. 243. 827. 411. 768. 894. 663.
 954. 637. 409. 877. 819. 239. 708. 284. 766. 506. 418. 482. 682. 709.
 683. 959. 674. 839. 548. 391. 831. 269. 527. 739. 885. 955. 828. 232.
 354. 803. 834. 229. 707. 646. 602. 936. 753. 732. 453. 312. 494. 621.
 191. 414. 564. 729. 817. 546. 762. 589. 994. 614. 433. 568. 572. 711.
 501. 582. 533. 498. 793. 368. 879. 648. 669. 286. 855. 505. 402. 821.
 958. 449. 822. 522. 413. 807. 544. 266. 945. 662. 592.]
total_donations [   0.    458.    737.03 ...  190.03 2181.26  431.92]
num_donors [  0   3  19   2   4   1  15   7  16   8   6   5  10  27  13  11  22  28
   9  20  14  12  33 313  30  21  24  80  32  17  18  25  26  56  44  38
  35  40  31  46  23  45  70  54  43  55  95  47  48  73  34  29  36  77
  50  53  65 117  39  37  51  42  86  68  67 137  41  61  60  58  59  90
  76  52  62  49 127 147 123 101 100  88 210  75  57  69  74  64 130  66
  63  78  81 129  89  91 221  72  97  79  85  98 108]
eligible_double_your_impact_match ['f' 't']
eligible_almost_home_match ['f' 't']
funding_status ['failure' 'success']
date_posted ['2004-12-16T00:00:00.000000000' '2005-02-26T00:00:00.000000000'
 '2005-07-01T00:00:00.000000000' '2006-01-07T00:00:00.000000000'
 '2006-01-08T00:00:00.000000000' '2006-01-12T00:00:00.000000000'
 '2006-01-14T00:00:00.000000000' '2006-01-20T00:00:00.000000000'
 '2006-01-24T00:00:00.000000000' '2006-01-26T00:00:00.000000000'
 '2006-02-07T00:00:00.000000000' '2006-02-08T00:00:00.000000000'
 '2006-02-26T00:00:00.000000000' '2006-03-15T00:00:00.000000000'
 '2006-03-16T00:00:00.000000000' '2006-03-24T00:00:00.000000000'
 '2006-03-26T00:00:00.000000000' '2006-04-07T00:00:00.000000000'
 '2006-04-10T00:00:00.000000000' '2006-04-24T00:00:00.000000000'
 '2006-04-26T00:00:00.000000000' '2006-05-03T00:00:00.000000000'
 '2006-05-22T00:00:00.000000000' '2006-05-29T00:00:00.000000000'
 '2006-06-09T00:00:00.000000000' '2006-06-12T00:00:00.000000000'
 '2006-06-28T00:00:00.000000000' '2006-07-02T00:00:00.000000000'
 '2006-07-06T00:00:00.000000000' '2006-07-13T00:00:00.000000000'
 '2006-07-16T00:00:00.000000000' '2006-07-20T00:00:00.000000000'
 '2006-08-01T00:00:00.000000000' '2006-08-10T00:00:00.000000000'
 '2006-08-27T00:00:00.000000000' '2006-09-09T00:00:00.000000000'
 '2006-09-18T00:00:00.000000000' '2006-09-25T00:00:00.000000000'
 '2006-09-28T00:00:00.000000000' '2006-10-04T00:00:00.000000000'
 '2006-10-05T00:00:00.000000000' '2006-10-11T00:00:00.000000000'
 '2006-10-12T00:00:00.000000000' '2006-10-16T00:00:00.000000000'
 '2006-10-17T00:00:00.000000000' '2006-10-20T00:00:00.000000000'
 '2006-10-21T00:00:00.000000000' '2006-10-23T00:00:00.000000000'
 '2006-10-24T00:00:00.000000000' '2006-11-07T00:00:00.000000000'
 '2006-11-08T00:00:00.000000000' '2006-11-11T00:00:00.000000000'
 '2006-11-16T00:00:00.000000000' '2006-11-17T00:00:00.000000000'
 '2006-11-18T00:00:00.000000000' '2006-11-21T00:00:00.000000000'
 '2006-11-22T00:00:00.000000000' '2006-11-29T00:00:00.000000000'
 '2006-12-10T00:00:00.000000000' '2006-12-12T00:00:00.000000000'
 '2006-12-13T00:00:00.000000000' '2006-12-27T00:00:00.000000000'
 '2007-01-02T00:00:00.000000000' '2007-01-03T00:00:00.000000000'
 '2015-02-12T00:00:00.000000000' '2015-06-17T00:00:00.000000000'
 '2015-07-25T00:00:00.000000000' '2015-08-03T00:00:00.000000000'
 '2015-08-05T00:00:00.000000000' '2015-08-07T00:00:00.000000000'
 '2015-08-08T00:00:00.000000000' '2015-08-09T00:00:00.000000000'
 '2015-08-10T00:00:00.000000000' '2015-08-12T00:00:00.000000000'
 '2015-08-13T00:00:00.000000000' '2015-08-14T00:00:00.000000000'
 '2015-08-15T00:00:00.000000000' '2015-08-17T00:00:00.000000000'
 '2015-08-18T00:00:00.000000000' '2015-08-19T00:00:00.000000000'
 '2015-08-20T00:00:00.000000000' '2015-08-21T00:00:00.000000000'
 '2015-08-22T00:00:00.000000000' '2015-08-23T00:00:00.000000000'
 '2015-08-24T00:00:00.000000000' '2015-08-25T00:00:00.000000000'
 '2015-08-26T00:00:00.000000000' '2015-08-27T00:00:00.000000000'
 '2015-08-28T00:00:00.000000000' '2015-08-29T00:00:00.000000000'
 '2015-08-30T00:00:00.000000000' '2015-08-31T00:00:00.000000000'
 '2015-09-01T00:00:00.000000000' '2015-09-02T00:00:00.000000000'
 '2015-09-03T00:00:00.000000000' '2015-09-04T00:00:00.000000000'
 '2015-09-05T00:00:00.000000000' '2015-09-06T00:00:00.000000000'
 '2015-09-07T00:00:00.000000000' '2015-09-08T00:00:00.000000000'
 '2015-09-09T00:00:00.000000000' '2015-09-10T00:00:00.000000000'
 '2015-09-11T00:00:00.000000000' '2015-09-12T00:00:00.000000000'
 '2015-09-13T00:00:00.000000000' '2015-09-14T00:00:00.000000000'
 '2015-09-15T00:00:00.000000000' '2015-09-16T00:00:00.000000000'
 '2015-09-17T00:00:00.000000000' '2015-09-18T00:00:00.000000000'
 '2015-09-19T00:00:00.000000000' '2015-09-20T00:00:00.000000000'
 '2015-09-21T00:00:00.000000000' '2015-09-22T00:00:00.000000000'
 '2015-09-23T00:00:00.000000000' '2015-09-24T00:00:00.000000000'
 '2015-09-25T00:00:00.000000000' '2015-09-26T00:00:00.000000000'
 '2015-09-27T00:00:00.000000000' '2015-09-28T00:00:00.000000000'
 '2015-09-29T00:00:00.000000000' '2015-09-30T00:00:00.000000000'
 '2015-10-01T00:00:00.000000000' '2015-10-02T00:00:00.000000000'
 '2015-10-03T00:00:00.000000000' '2015-10-04T00:00:00.000000000'
 '2015-10-05T00:00:00.000000000' '2015-10-06T00:00:00.000000000'
 '2015-10-07T00:00:00.000000000' '2015-10-08T00:00:00.000000000'
 '2015-10-09T00:00:00.000000000' '2015-10-10T00:00:00.000000000'
 '2015-10-11T00:00:00.000000000' '2015-10-12T00:00:00.000000000'
 '2015-10-13T00:00:00.000000000' '2015-10-14T00:00:00.000000000'
 '2015-10-15T00:00:00.000000000' '2015-10-16T00:00:00.000000000'
 '2015-10-17T00:00:00.000000000' '2015-10-18T00:00:00.000000000'
 '2015-10-19T00:00:00.000000000' '2015-10-20T00:00:00.000000000'
 '2015-10-21T00:00:00.000000000' '2015-10-22T00:00:00.000000000'
 '2015-10-23T00:00:00.000000000' '2015-10-24T00:00:00.000000000'
 '2015-10-25T00:00:00.000000000' '2015-10-26T00:00:00.000000000'
 '2015-10-27T00:00:00.000000000' '2015-10-28T00:00:00.000000000'
 '2015-10-29T00:00:00.000000000' '2015-10-30T00:00:00.000000000'
 '2015-10-31T00:00:00.000000000' '2015-11-01T00:00:00.000000000'
 '2015-11-02T00:00:00.000000000' '2015-11-03T00:00:00.000000000'
 '2015-11-04T00:00:00.000000000' '2015-11-05T00:00:00.000000000'
 '2015-11-06T00:00:00.000000000' '2015-11-07T00:00:00.000000000'
 '2015-11-08T00:00:00.000000000' '2015-11-09T00:00:00.000000000'
 '2015-11-10T00:00:00.000000000' '2015-11-11T00:00:00.000000000'
 '2015-11-12T00:00:00.000000000' '2015-11-13T00:00:00.000000000'
 '2015-11-14T00:00:00.000000000' '2015-11-15T00:00:00.000000000'
 '2015-11-16T00:00:00.000000000' '2015-11-17T00:00:00.000000000'
 '2015-11-18T00:00:00.000000000' '2015-11-19T00:00:00.000000000'
 '2015-11-20T00:00:00.000000000' '2015-11-21T00:00:00.000000000'
 '2015-11-22T00:00:00.000000000' '2015-11-23T00:00:00.000000000'
 '2015-11-24T00:00:00.000000000' '2015-11-25T00:00:00.000000000'
 '2015-11-26T00:00:00.000000000' '2015-11-27T00:00:00.000000000'
 '2015-11-28T00:00:00.000000000' '2015-11-29T00:00:00.000000000'
 '2015-11-30T00:00:00.000000000' '2015-12-01T00:00:00.000000000'
 '2015-12-02T00:00:00.000000000' '2015-12-03T00:00:00.000000000'
 '2015-12-04T00:00:00.000000000' '2015-12-05T00:00:00.000000000'
 '2015-12-06T00:00:00.000000000' '2015-12-07T00:00:00.000000000'
 '2015-12-08T00:00:00.000000000' '2015-12-09T00:00:00.000000000'
 '2015-12-10T00:00:00.000000000' '2015-12-11T00:00:00.000000000'
 '2015-12-12T00:00:00.000000000' '2015-12-13T00:00:00.000000000'
 '2015-12-14T00:00:00.000000000' '2015-12-15T00:00:00.000000000'
 '2015-12-16T00:00:00.000000000' '2015-12-17T00:00:00.000000000'
 '2015-12-18T00:00:00.000000000' '2015-12-19T00:00:00.000000000'
 '2015-12-20T00:00:00.000000000' '2015-12-21T00:00:00.000000000'
 '2015-12-22T00:00:00.000000000' '2015-12-23T00:00:00.000000000'
 '2015-12-24T00:00:00.000000000' '2015-12-25T00:00:00.000000000'
 '2015-12-26T00:00:00.000000000' '2015-12-27T00:00:00.000000000'
 '2015-12-28T00:00:00.000000000' '2015-12-29T00:00:00.000000000'
 '2015-12-30T00:00:00.000000000' '2015-12-31T00:00:00.000000000'
 '2016-01-01T00:00:00.000000000' '2016-01-02T00:00:00.000000000'
 '2016-01-03T00:00:00.000000000' '2016-01-04T00:00:00.000000000'
 '2016-01-05T00:00:00.000000000' '2016-01-06T00:00:00.000000000'
 '2016-01-07T00:00:00.000000000' '2016-01-08T00:00:00.000000000'
 '2016-01-09T00:00:00.000000000' '2016-01-10T00:00:00.000000000'
 '2016-01-11T00:00:00.000000000' '2016-01-12T00:00:00.000000000'
 '2016-01-13T00:00:00.000000000' '2016-01-14T00:00:00.000000000'
 '2016-01-15T00:00:00.000000000' '2016-01-16T00:00:00.000000000'
 '2016-01-17T00:00:00.000000000' '2016-01-18T00:00:00.000000000'
 '2016-01-19T00:00:00.000000000' '2016-01-20T00:00:00.000000000'
 '2016-01-21T00:00:00.000000000' '2016-01-22T00:00:00.000000000'
 '2016-01-23T00:00:00.000000000' '2016-01-24T00:00:00.000000000'
 '2016-01-25T00:00:00.000000000' '2016-01-26T00:00:00.000000000'
 '2016-01-27T00:00:00.000000000' '2016-01-28T00:00:00.000000000'
 '2016-01-29T00:00:00.000000000' '2016-01-30T00:00:00.000000000'
 '2016-01-31T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-02-02T00:00:00.000000000' '2016-02-03T00:00:00.000000000'
 '2016-02-04T00:00:00.000000000' '2016-02-05T00:00:00.000000000'
 '2016-02-06T00:00:00.000000000' '2016-02-07T00:00:00.000000000'
 '2016-02-08T00:00:00.000000000' '2016-02-09T00:00:00.000000000'
 '2016-02-10T00:00:00.000000000' '2016-02-11T00:00:00.000000000'
 '2016-02-12T00:00:00.000000000' '2016-02-13T00:00:00.000000000'
 '2016-02-14T00:00:00.000000000' '2016-02-15T00:00:00.000000000'
 '2016-02-16T00:00:00.000000000' '2016-02-17T00:00:00.000000000'
 '2016-02-18T00:00:00.000000000' '2016-02-19T00:00:00.000000000'
 '2016-02-20T00:00:00.000000000' '2016-02-21T00:00:00.000000000'
 '2016-02-22T00:00:00.000000000' '2016-02-23T00:00:00.000000000'
 '2016-02-24T00:00:00.000000000' '2016-02-25T00:00:00.000000000'
 '2016-02-26T00:00:00.000000000' '2016-02-27T00:00:00.000000000'
 '2016-02-28T00:00:00.000000000' '2016-02-29T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-03-02T00:00:00.000000000'
 '2016-03-03T00:00:00.000000000' '2016-03-04T00:00:00.000000000'
 '2016-03-05T00:00:00.000000000' '2016-03-06T00:00:00.000000000'
 '2016-03-07T00:00:00.000000000' '2016-03-08T00:00:00.000000000'
 '2016-03-09T00:00:00.000000000' '2016-03-10T00:00:00.000000000'
 '2016-03-11T00:00:00.000000000' '2016-03-12T00:00:00.000000000'
 '2016-03-13T00:00:00.000000000' '2016-03-14T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-03-16T00:00:00.000000000'
 '2016-03-17T00:00:00.000000000' '2016-03-18T00:00:00.000000000'
 '2016-03-19T00:00:00.000000000' '2016-03-20T00:00:00.000000000'
 '2016-03-21T00:00:00.000000000' '2016-03-22T00:00:00.000000000'
 '2016-03-23T00:00:00.000000000' '2016-03-24T00:00:00.000000000'
 '2016-03-25T00:00:00.000000000' '2016-03-26T00:00:00.000000000'
 '2016-03-27T00:00:00.000000000' '2016-03-28T00:00:00.000000000'
 '2016-03-29T00:00:00.000000000' '2016-03-30T00:00:00.000000000'
 '2016-03-31T00:00:00.000000000' '2016-04-01T00:00:00.000000000'
 '2016-04-02T00:00:00.000000000' '2016-04-03T00:00:00.000000000'
 '2016-04-04T00:00:00.000000000' '2016-04-05T00:00:00.000000000'
 '2016-04-06T00:00:00.000000000' '2016-04-07T00:00:00.000000000'
 '2016-04-08T00:00:00.000000000' '2016-04-09T00:00:00.000000000'
 '2016-04-10T00:00:00.000000000' '2016-04-11T00:00:00.000000000'
 '2016-04-12T00:00:00.000000000' '2016-04-13T00:00:00.000000000'
 '2016-04-14T00:00:00.000000000' '2016-04-15T00:00:00.000000000'
 '2016-04-16T00:00:00.000000000' '2016-04-17T00:00:00.000000000'
 '2016-04-18T00:00:00.000000000' '2016-04-19T00:00:00.000000000'
 '2016-04-20T00:00:00.000000000' '2016-04-21T00:00:00.000000000'
 '2016-04-22T00:00:00.000000000' '2016-04-23T00:00:00.000000000'
 '2016-04-24T00:00:00.000000000' '2016-04-25T00:00:00.000000000'
 '2016-04-26T00:00:00.000000000' '2016-04-27T00:00:00.000000000'
 '2016-04-28T00:00:00.000000000' '2016-04-29T00:00:00.000000000'
 '2016-04-30T00:00:00.000000000' '2016-05-01T00:00:00.000000000'
 '2016-05-02T00:00:00.000000000' '2016-05-03T00:00:00.000000000'
 '2016-05-04T00:00:00.000000000' '2016-05-05T00:00:00.000000000'
 '2016-05-06T00:00:00.000000000' '2016-05-07T00:00:00.000000000'
 '2016-05-08T00:00:00.000000000' '2016-05-09T00:00:00.000000000'
 '2016-05-10T00:00:00.000000000' '2016-05-11T00:00:00.000000000'
 '2016-05-12T00:00:00.000000000' '2016-05-13T00:00:00.000000000'
 '2016-05-14T00:00:00.000000000' '2016-05-15T00:00:00.000000000'
 '2016-05-16T00:00:00.000000000' '2016-05-17T00:00:00.000000000'
 '2016-05-18T00:00:00.000000000' '2016-05-19T00:00:00.000000000'
 '2016-05-20T00:00:00.000000000' '2016-05-21T00:00:00.000000000'
 '2016-05-22T00:00:00.000000000' '2016-05-23T00:00:00.000000000'
 '2016-05-24T00:00:00.000000000' '2016-05-25T00:00:00.000000000'
 '2016-05-26T00:00:00.000000000' '2016-05-27T00:00:00.000000000'
 '2016-05-28T00:00:00.000000000' '2016-05-29T00:00:00.000000000'
 '2016-05-30T00:00:00.000000000' '2016-05-31T00:00:00.000000000'
 '2016-06-01T00:00:00.000000000' '2016-06-02T00:00:00.000000000'
 '2016-06-03T00:00:00.000000000' '2016-06-04T00:00:00.000000000'
 '2016-06-05T00:00:00.000000000' '2016-06-06T00:00:00.000000000'
 '2016-06-07T00:00:00.000000000' '2016-06-08T00:00:00.000000000'
 '2016-06-09T00:00:00.000000000' '2016-06-10T00:00:00.000000000'
 '2016-06-11T00:00:00.000000000' '2016-06-12T00:00:00.000000000'
 '2016-06-13T00:00:00.000000000' '2016-06-14T00:00:00.000000000'
 '2016-06-15T00:00:00.000000000' '2016-06-16T00:00:00.000000000'
 '2016-06-17T00:00:00.000000000' '2016-06-18T00:00:00.000000000'
 '2016-06-19T00:00:00.000000000' '2016-06-20T00:00:00.000000000'
 '2016-06-21T00:00:00.000000000' '2016-06-22T00:00:00.000000000'
 '2016-06-23T00:00:00.000000000' '2016-06-24T00:00:00.000000000'
 '2016-06-25T00:00:00.000000000' '2016-06-26T00:00:00.000000000'
 '2016-06-27T00:00:00.000000000' '2016-06-28T00:00:00.000000000'
 '2016-06-29T00:00:00.000000000' '2016-06-30T00:00:00.000000000'
 '2016-07-01T00:00:00.000000000' '2016-07-02T00:00:00.000000000'
 '2016-07-03T00:00:00.000000000' '2016-07-04T00:00:00.000000000'
 '2016-07-05T00:00:00.000000000' '2016-07-06T00:00:00.000000000'
 '2016-07-07T00:00:00.000000000' '2016-07-08T00:00:00.000000000'
 '2016-07-09T00:00:00.000000000' '2016-07-10T00:00:00.000000000'
 '2016-07-11T00:00:00.000000000' '2016-07-12T00:00:00.000000000'
 '2016-07-13T00:00:00.000000000' '2016-07-14T00:00:00.000000000'
 '2016-07-15T00:00:00.000000000' '2016-07-16T00:00:00.000000000'
 '2016-07-17T00:00:00.000000000' '2016-07-18T00:00:00.000000000'
 '2016-07-19T00:00:00.000000000' '2016-07-20T00:00:00.000000000'

In [61]:
proj['resource_type'].unique()

array(['Technology', 'Books', 'Supplies', 'Other', 'Visitors', 'Trips'],
      dtype=object)

In [62]:
proj['resource_type'].replace(['Technology', 'Books', 'Supplies', 'Other', 'Trips', 'Visitors'],
                                           [0,1,2,3,4,5],inplace=True)
proj['resource_type'].unique()

array([0, 1, 2, 3, 5, 4])

In [63]:
proj['poverty_level'].unique()

array(['highest poverty', 'high poverty', 'moderate poverty',
       'low poverty'], dtype=object)

In [64]:
proj['poverty_level'].replace(['highest poverty', 'high poverty', 'moderate poverty',
       'low poverty'],[0,1,2,3],inplace=True)
proj['poverty_level'].unique()

array([0, 1, 2, 3])

In [65]:
proj['grade_level'].unique()

array(['Grades 3-5', 'Grades PreK-2', 'Grades 6-8', 'Grades 9-12'],
      dtype=object)

In [66]:
proj['grade_level'].replace(['Grades PreK-2','Grades 3-5','Grades 6-8','Grades 9-12'],[0,1,2,3],inplace=True)
proj['grade_level'].unique()

array([1, 0, 2, 3])

In [67]:
proj['eligible_double_your_impact_match'].replace(['f', 't'],[0,1],inplace=True)
proj['eligible_double_your_impact_match'].unique()

array([0, 1])

In [68]:
proj['eligible_almost_home_match'].replace(['f', 't'],[0,1],inplace=True)
proj['eligible_almost_home_match'].unique()

array([0, 1])

In [69]:
for c in proj.columns:
    print(c, proj[c].unique())

_projectid ['cf61d93f54f6aa46747db15b23eda4a0' '2dfe551457c5b086113c205d3dfcf03a'
 '6c412f598392c6498c46e5be9bdbdbab' ... 'aaaabd35bdc4390793b61b8d32980bb5'
 'b031b413345e7552681dac195a74c919' '4fc2700eb1a6c14f8390b532b1c2bc4d']
school_latitude [41.765977 35.755771 40.71605  ... 35.082615 32.720689 41.692982]
school_longitude [ -87.653093  -80.974552  -73.99092  ...  -80.827366 -117.2346
  -73.912369]
school_city ['Chicago' 'Statesville' 'New York City' ... 'La Vernia' 'Kokhanok'
 'Balmorhea']
school_state ['IL' 'NC' 'NY' 'CA' 'TX' 'SC' 'OR' 'MO' 'RI' 'PA' 'KY' 'MA' 'NJ' 'OK'
 'GA' 'IN' 'KS' 'OH' 'UT' 'FL' 'MN' 'WI' 'NV' 'CO' 'TN' 'VA' 'MD' 'WA'
 'CT' 'AK' 'ID' 'HI' 'AZ' 'MS' 'LA' 'WV' 'AL' 'AR' 'MI' 'ME' 'IA' 'MT'
 'DE' 'NM' 'NE' 'NH' 'SD' 'VT' 'ND' 'WY']
school_zip [60621. 28677. 10002. ... 79718. 48847. 35004.]
school_metro [0 2 1]
school_charter [0 1]
school_magnet [0 1]
school_year_round [0 1]
school_nlns [0 1]
school_kipp [0 1]
school_charter_ready_promise [0 1]
teacher_prefix [1 2 0 3 4]
teacher_teach_for_america [0 1]
teacher_ny_teaching_fellow [0 1]
primary_focus_subject [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 18 19 20 21 17 22 23
 24 25 26 27]
primary_focus_area [0 1 2 3 4 5 6]
resource_type [0 1 2 3 5 4]
poverty_level [0 1 2 3]
grade_level [1 0 2 3]
total_price_excluding_optional_support [2046.93 2655.78  671.38 ... 2181.26 3434.08  556.13]
total_price_including_optional_support [2496.26 3238.76  818.76 ... 2566.19 4040.09  654.27]
students_reached [ 42.  16. 375.  29.  25. 150.  22.  10.  20.   6.  21. 100.  40.  19.
  70.  12.  14.  35. 102. 185. 135. 173. 470.  28.  30. 200.  80. 340.
   8.  60.  65.  75.  18. 108.  90.  24. 350.  50.  95. 165. 132.  15.
  55. 115.  39. 330. 320. 130. 230. 109. 149. 120.  56. 240. 250. 999.
  17.  68.   9. 110. 300. 105. 450.  44.  26.  84. 160. 128.  96. 550.
 380. 357.  27.  32. 400. 155.  43.   3.  85.  48.  59. 175.  33. 990.
 125.  57. 475.  23.  64. 180.  37.  45. 750.  71. 210.  62. 189. 220.
  82. 427.  31. 440. 170.  46.  36. 497. 225. 140.  83.  52.  72. 700.
 600. 675.  11. 104.  38. 800. 420. 900. 525. 216.  13. 156. 730. 425.
 650. 141. 500.  99. 190. 145. 658. 138. 290.  54.  66. 237.  34.  93.
 262. 580.   7. 172. 235. 171. 196. 540. 850.   5. 157. 460. 432. 620.
 139. 260. 325. 183. 740. 727.  47.  58. 430. 483. 390. 875. 192. 585.
 917. 706. 106. 451. 950. 830. 360. 187. 112. 162.  91. 207. 186. 177.
   2.  76. 174. 627. 197. 530. 415. 280. 127.  53.  51. 665. 377.  49.
 468. 520.  78.  63. 263. 370.  81. 311. 655. 690. 609.  67. 930.  88.
  87. 176. 804. 570. 164.   4. 158. 965.  94. 645. 124. 136. 751.  41.
 760.  97. 310. 590.  73. 195. 208.  92. 153. 485. 960. 705. 214.  69.
   1. 480. 265. 252. 442. 560. 660. 178. 865.  89. 595. 121. 211. 267.
 670. 107. 215. 720. 940.  74. 493. 703. 820. 867. 213. 365. 929. 154.
 282. 980. 630. 678. 813. 535.  98. 198. 152.  79. 255.  77. 144. 244.
 921. 245. 640. 455. 542. 222. 161. 137. 270. 168. 133. 545. 184. 116.
 909. 638. 780.  61. 188. 435. 275. 204. 142. 126. 490. 131. 293.  86.
 538. 805. 114. 491. 205. 122. 757. 117. 968. 101. 169. 103. 508. 573.
 997. 840. 725. 826. 362. 486. 113. 305. 118. 726. 163. 975. 218. 510.
 294. 147. 111. 437. 860. 531. 385. 202. 182. 407. 422. 134. 291. 143.
 942. 335. 146. 643. 610. 519. 166. 905. 810. 236. 575. 369. 775. 345.
 148. 315. 285. 770. 447. 517. 790. 151. 996. 671. 129. 914. 224. 227.
 625. 518. 318. 619. 268. 825. 287. 749. 167. 798. 123. 223. 715. 515.
 193. 608. 419. 416. 339. 512. 459. 242. 615. 363. 856. 635. 524. 632.
 302. 301. 295. 859. 677. 253. 523. 199. 752. 728. 159. 410. 332. 355.
 565. 308. 541. 246. 384. 446. 348. 346. 652. 322. 601. 238. 514. 554.
 477. 503. 258. 853. 314. 680. 626. 438. 297. 970. 870. 465. 404. 317.
 890. 915. 264. 201. 553. 587. 688. 304. 719. 578. 489. 993. 685. 539.
 119. 306. 364. 428. 814. 529. 387. 194. 543. 916. 479. 639. 616. 228.
 209. 835. 605. 217. 327. 248. 448. 396. 511. 388. 462. 372. 668. 445.
 779. 326. 219. 478. 374. 309. 925. 591. 484. 206. 353. 532. 504. 763.
 212. 574. 642. 797. 487. 611. 623. 785. 495. 406. 319. 298. 735. 444.
 864. 765. 452. 181. 534. 555. 234. 713. 562. 351. 417. 251. 689. 399.
 394. 549. 656. 612. 976. 842. 254. 666. 333. 273. 777. 221. 458. 358.
 256. 436. 991. 745. 303. 774. 724. 863. 395. 617. 352. 902. 403. 283.
 272. 558. 758. 405. 331. 569. 492. 636. 334. 693. 586. 845. 756. 633.
 755. 561. 431. 392. 653. 481. 336. 984. 552. 276. 712. 456. 463. 329.
 398. 812. 408. 271. 556. 631. 861. 721. 624. 607. 686. 464. 953. 547.
 257. 461. 618. 687. 516. 382. 292. 383. 985. 634. 261. 469. 657. 439.
 987. 848. 957. 343. 509. 577. 424. 829. 426. 288. 488. 367. 661. 324.
 872. 659. 278. 988. 628. 651. 783. 928. 832. 443. 274. 536. 376. 710.
 412. 913. 179. 978. 878. 379. 676. 513. 347. 507. 467. 502. 946. 323.
 472. 983. 571. 226. 373. 697. 279. 948. 986. 584. 401. 667. 537. 466.
 454. 737. 596. 296. 423. 289. 699. 356. 594. 576. 815. 603. 476. 337.
 389. 203. 908. 328. 397. 381. 761. 654. 849. 789. 526. 473. 471. 778.
 593. 695. 748. 787. 551. 956. 341. 947. 604. 342. 952. 801. 673. 378.
 681. 429. 920. 277. 588. 701. 528. 521. 281. 764. 563. 457. 622. 321.
 366. 393. 998. 672. 338. 567. 606. 579. 243. 827. 411. 768. 894. 663.
 954. 637. 409. 877. 819. 239. 708. 284. 766. 506. 418. 482. 682. 709.
 683. 959. 674. 839. 548. 391. 831. 269. 527. 739. 885. 955. 828. 232.
 354. 803. 834. 229. 707. 646. 602. 936. 753. 732. 453. 312. 494. 621.
 191. 414. 564. 729. 817. 546. 762. 589. 994. 614. 433. 568. 572. 711.
 501. 582. 533. 498. 793. 368. 879. 648. 669. 286. 855. 505. 402. 821.
 958. 449. 822. 522. 413. 807. 544. 266. 945. 662. 592.]
total_donations [   0.    458.    737.03 ...  190.03 2181.26  431.92]
num_donors [  0   3  19   2   4   1  15   7  16   8   6   5  10  27  13  11  22  28
   9  20  14  12  33 313  30  21  24  80  32  17  18  25  26  56  44  38
  35  40  31  46  23  45  70  54  43  55  95  47  48  73  34  29  36  77
  50  53  65 117  39  37  51  42  86  68  67 137  41  61  60  58  59  90
  76  52  62  49 127 147 123 101 100  88 210  75  57  69  74  64 130  66
  63  78  81 129  89  91 221  72  97  79  85  98 108]
eligible_double_your_impact_match [0 1]
eligible_almost_home_match [0 1]
funding_status ['failure' 'success']
date_posted ['2004-12-16T00:00:00.000000000' '2005-02-26T00:00:00.000000000'
 '2005-07-01T00:00:00.000000000' '2006-01-07T00:00:00.000000000'
 '2006-01-08T00:00:00.000000000' '2006-01-12T00:00:00.000000000'
 '2006-01-14T00:00:00.000000000' '2006-01-20T00:00:00.000000000'
 '2006-01-24T00:00:00.000000000' '2006-01-26T00:00:00.000000000'
 '2006-02-07T00:00:00.000000000' '2006-02-08T00:00:00.000000000'
 '2006-02-26T00:00:00.000000000' '2006-03-15T00:00:00.000000000'
 '2006-03-16T00:00:00.000000000' '2006-03-24T00:00:00.000000000'
 '2006-03-26T00:00:00.000000000' '2006-04-07T00:00:00.000000000'
 '2006-04-10T00:00:00.000000000' '2006-04-24T00:00:00.000000000'
 '2006-04-26T00:00:00.000000000' '2006-05-03T00:00:00.000000000'
 '2006-05-22T00:00:00.000000000' '2006-05-29T00:00:00.000000000'
 '2006-06-09T00:00:00.000000000' '2006-06-12T00:00:00.000000000'
 '2006-06-28T00:00:00.000000000' '2006-07-02T00:00:00.000000000'
 '2006-07-06T00:00:00.000000000' '2006-07-13T00:00:00.000000000'
 '2006-07-16T00:00:00.000000000' '2006-07-20T00:00:00.000000000'
 '2006-08-01T00:00:00.000000000' '2006-08-10T00:00:00.000000000'
 '2006-08-27T00:00:00.000000000' '2006-09-09T00:00:00.000000000'
 '2006-09-18T00:00:00.000000000' '2006-09-25T00:00:00.000000000'
 '2006-09-28T00:00:00.000000000' '2006-10-04T00:00:00.000000000'
 '2006-10-05T00:00:00.000000000' '2006-10-11T00:00:00.000000000'
 '2006-10-12T00:00:00.000000000' '2006-10-16T00:00:00.000000000'
 '2006-10-17T00:00:00.000000000' '2006-10-20T00:00:00.000000000'
 '2006-10-21T00:00:00.000000000' '2006-10-23T00:00:00.000000000'
 '2006-10-24T00:00:00.000000000' '2006-11-07T00:00:00.000000000'
 '2006-11-08T00:00:00.000000000' '2006-11-11T00:00:00.000000000'
 '2006-11-16T00:00:00.000000000' '2006-11-17T00:00:00.000000000'
 '2006-11-18T00:00:00.000000000' '2006-11-21T00:00:00.000000000'
 '2006-11-22T00:00:00.000000000' '2006-11-29T00:00:00.000000000'
 '2006-12-10T00:00:00.000000000' '2006-12-12T00:00:00.000000000'
 '2006-12-13T00:00:00.000000000' '2006-12-27T00:00:00.000000000'
 '2007-01-02T00:00:00.000000000' '2007-01-03T00:00:00.000000000'
 '2015-02-12T00:00:00.000000000' '2015-06-17T00:00:00.000000000'
 '2015-07-25T00:00:00.000000000' '2015-08-03T00:00:00.000000000'
 '2015-08-05T00:00:00.000000000' '2015-08-07T00:00:00.000000000'
 '2015-08-08T00:00:00.000000000' '2015-08-09T00:00:00.000000000'
 '2015-08-10T00:00:00.000000000' '2015-08-12T00:00:00.000000000'
 '2015-08-13T00:00:00.000000000' '2015-08-14T00:00:00.000000000'
 '2015-08-15T00:00:00.000000000' '2015-08-17T00:00:00.000000000'
 '2015-08-18T00:00:00.000000000' '2015-08-19T00:00:00.000000000'
 '2015-08-20T00:00:00.000000000' '2015-08-21T00:00:00.000000000'
 '2015-08-22T00:00:00.000000000' '2015-08-23T00:00:00.000000000'
 '2015-08-24T00:00:00.000000000' '2015-08-25T00:00:00.000000000'
 '2015-08-26T00:00:00.000000000' '2015-08-27T00:00:00.000000000'
 '2015-08-28T00:00:00.000000000' '2015-08-29T00:00:00.000000000'
 '2015-08-30T00:00:00.000000000' '2015-08-31T00:00:00.000000000'
 '2015-09-01T00:00:00.000000000' '2015-09-02T00:00:00.000000000'
 '2015-09-03T00:00:00.000000000' '2015-09-04T00:00:00.000000000'
 '2015-09-05T00:00:00.000000000' '2015-09-06T00:00:00.000000000'
 '2015-09-07T00:00:00.000000000' '2015-09-08T00:00:00.000000000'
 '2015-09-09T00:00:00.000000000' '2015-09-10T00:00:00.000000000'
 '2015-09-11T00:00:00.000000000' '2015-09-12T00:00:00.000000000'
 '2015-09-13T00:00:00.000000000' '2015-09-14T00:00:00.000000000'
 '2015-09-15T00:00:00.000000000' '2015-09-16T00:00:00.000000000'
 '2015-09-17T00:00:00.000000000' '2015-09-18T00:00:00.000000000'
 '2015-09-19T00:00:00.000000000' '2015-09-20T00:00:00.000000000'
 '2015-09-21T00:00:00.000000000' '2015-09-22T00:00:00.000000000'
 '2015-09-23T00:00:00.000000000' '2015-09-24T00:00:00.000000000'
 '2015-09-25T00:00:00.000000000' '2015-09-26T00:00:00.000000000'
 '2015-09-27T00:00:00.000000000' '2015-09-28T00:00:00.000000000'
 '2015-09-29T00:00:00.000000000' '2015-09-30T00:00:00.000000000'
 '2015-10-01T00:00:00.000000000' '2015-10-02T00:00:00.000000000'
 '2015-10-03T00:00:00.000000000' '2015-10-04T00:00:00.000000000'
 '2015-10-05T00:00:00.000000000' '2015-10-06T00:00:00.000000000'
 '2015-10-07T00:00:00.000000000' '2015-10-08T00:00:00.000000000'
 '2015-10-09T00:00:00.000000000' '2015-10-10T00:00:00.000000000'
 '2015-10-11T00:00:00.000000000' '2015-10-12T00:00:00.000000000'
 '2015-10-13T00:00:00.000000000' '2015-10-14T00:00:00.000000000'
 '2015-10-15T00:00:00.000000000' '2015-10-16T00:00:00.000000000'
 '2015-10-17T00:00:00.000000000' '2015-10-18T00:00:00.000000000'
 '2015-10-19T00:00:00.000000000' '2015-10-20T00:00:00.000000000'
 '2015-10-21T00:00:00.000000000' '2015-10-22T00:00:00.000000000'
 '2015-10-23T00:00:00.000000000' '2015-10-24T00:00:00.000000000'
 '2015-10-25T00:00:00.000000000' '2015-10-26T00:00:00.000000000'
 '2015-10-27T00:00:00.000000000' '2015-10-28T00:00:00.000000000'
 '2015-10-29T00:00:00.000000000' '2015-10-30T00:00:00.000000000'
 '2015-10-31T00:00:00.000000000' '2015-11-01T00:00:00.000000000'
 '2015-11-02T00:00:00.000000000' '2015-11-03T00:00:00.000000000'
 '2015-11-04T00:00:00.000000000' '2015-11-05T00:00:00.000000000'
 '2015-11-06T00:00:00.000000000' '2015-11-07T00:00:00.000000000'
 '2015-11-08T00:00:00.000000000' '2015-11-09T00:00:00.000000000'
 '2015-11-10T00:00:00.000000000' '2015-11-11T00:00:00.000000000'
 '2015-11-12T00:00:00.000000000' '2015-11-13T00:00:00.000000000'
 '2015-11-14T00:00:00.000000000' '2015-11-15T00:00:00.000000000'
 '2015-11-16T00:00:00.000000000' '2015-11-17T00:00:00.000000000'
 '2015-11-18T00:00:00.000000000' '2015-11-19T00:00:00.000000000'
 '2015-11-20T00:00:00.000000000' '2015-11-21T00:00:00.000000000'
 '2015-11-22T00:00:00.000000000' '2015-11-23T00:00:00.000000000'
 '2015-11-24T00:00:00.000000000' '2015-11-25T00:00:00.000000000'
 '2015-11-26T00:00:00.000000000' '2015-11-27T00:00:00.000000000'
 '2015-11-28T00:00:00.000000000' '2015-11-29T00:00:00.000000000'
 '2015-11-30T00:00:00.000000000' '2015-12-01T00:00:00.000000000'
 '2015-12-02T00:00:00.000000000' '2015-12-03T00:00:00.000000000'
 '2015-12-04T00:00:00.000000000' '2015-12-05T00:00:00.000000000'
 '2015-12-06T00:00:00.000000000' '2015-12-07T00:00:00.000000000'
 '2015-12-08T00:00:00.000000000' '2015-12-09T00:00:00.000000000'
 '2015-12-10T00:00:00.000000000' '2015-12-11T00:00:00.000000000'
 '2015-12-12T00:00:00.000000000' '2015-12-13T00:00:00.000000000'
 '2015-12-14T00:00:00.000000000' '2015-12-15T00:00:00.000000000'
 '2015-12-16T00:00:00.000000000' '2015-12-17T00:00:00.000000000'
 '2015-12-18T00:00:00.000000000' '2015-12-19T00:00:00.000000000'
 '2015-12-20T00:00:00.000000000' '2015-12-21T00:00:00.000000000'
 '2015-12-22T00:00:00.000000000' '2015-12-23T00:00:00.000000000'
 '2015-12-24T00:00:00.000000000' '2015-12-25T00:00:00.000000000'
 '2015-12-26T00:00:00.000000000' '2015-12-27T00:00:00.000000000'
 '2015-12-28T00:00:00.000000000' '2015-12-29T00:00:00.000000000'
 '2015-12-30T00:00:00.000000000' '2015-12-31T00:00:00.000000000'
 '2016-01-01T00:00:00.000000000' '2016-01-02T00:00:00.000000000'
 '2016-01-03T00:00:00.000000000' '2016-01-04T00:00:00.000000000'
 '2016-01-05T00:00:00.000000000' '2016-01-06T00:00:00.000000000'
 '2016-01-07T00:00:00.000000000' '2016-01-08T00:00:00.000000000'
 '2016-01-09T00:00:00.000000000' '2016-01-10T00:00:00.000000000'
 '2016-01-11T00:00:00.000000000' '2016-01-12T00:00:00.000000000'
 '2016-01-13T00:00:00.000000000' '2016-01-14T00:00:00.000000000'
 '2016-01-15T00:00:00.000000000' '2016-01-16T00:00:00.000000000'
 '2016-01-17T00:00:00.000000000' '2016-01-18T00:00:00.000000000'
 '2016-01-19T00:00:00.000000000' '2016-01-20T00:00:00.000000000'
 '2016-01-21T00:00:00.000000000' '2016-01-22T00:00:00.000000000'
 '2016-01-23T00:00:00.000000000' '2016-01-24T00:00:00.000000000'
 '2016-01-25T00:00:00.000000000' '2016-01-26T00:00:00.000000000'
 '2016-01-27T00:00:00.000000000' '2016-01-28T00:00:00.000000000'
 '2016-01-29T00:00:00.000000000' '2016-01-30T00:00:00.000000000'
 '2016-01-31T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-02-02T00:00:00.000000000' '2016-02-03T00:00:00.000000000'
 '2016-02-04T00:00:00.000000000' '2016-02-05T00:00:00.000000000'
 '2016-02-06T00:00:00.000000000' '2016-02-07T00:00:00.000000000'
 '2016-02-08T00:00:00.000000000' '2016-02-09T00:00:00.000000000'
 '2016-02-10T00:00:00.000000000' '2016-02-11T00:00:00.000000000'
 '2016-02-12T00:00:00.000000000' '2016-02-13T00:00:00.000000000'
 '2016-02-14T00:00:00.000000000' '2016-02-15T00:00:00.000000000'
 '2016-02-16T00:00:00.000000000' '2016-02-17T00:00:00.000000000'
 '2016-02-18T00:00:00.000000000' '2016-02-19T00:00:00.000000000'
 '2016-02-20T00:00:00.000000000' '2016-02-21T00:00:00.000000000'
 '2016-02-22T00:00:00.000000000' '2016-02-23T00:00:00.000000000'
 '2016-02-24T00:00:00.000000000' '2016-02-25T00:00:00.000000000'
 '2016-02-26T00:00:00.000000000' '2016-02-27T00:00:00.000000000'
 '2016-02-28T00:00:00.000000000' '2016-02-29T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-03-02T00:00:00.000000000'
 '2016-03-03T00:00:00.000000000' '2016-03-04T00:00:00.000000000'
 '2016-03-05T00:00:00.000000000' '2016-03-06T00:00:00.000000000'
 '2016-03-07T00:00:00.000000000' '2016-03-08T00:00:00.000000000'
 '2016-03-09T00:00:00.000000000' '2016-03-10T00:00:00.000000000'
 '2016-03-11T00:00:00.000000000' '2016-03-12T00:00:00.000000000'
 '2016-03-13T00:00:00.000000000' '2016-03-14T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-03-16T00:00:00.000000000'
 '2016-03-17T00:00:00.000000000' '2016-03-18T00:00:00.000000000'
 '2016-03-19T00:00:00.000000000' '2016-03-20T00:00:00.000000000'
 '2016-03-21T00:00:00.000000000' '2016-03-22T00:00:00.000000000'
 '2016-03-23T00:00:00.000000000' '2016-03-24T00:00:00.000000000'
 '2016-03-25T00:00:00.000000000' '2016-03-26T00:00:00.000000000'
 '2016-03-27T00:00:00.000000000' '2016-03-28T00:00:00.000000000'
 '2016-03-29T00:00:00.000000000' '2016-03-30T00:00:00.000000000'
 '2016-03-31T00:00:00.000000000' '2016-04-01T00:00:00.000000000'
 '2016-04-02T00:00:00.000000000' '2016-04-03T00:00:00.000000000'
 '2016-04-04T00:00:00.000000000' '2016-04-05T00:00:00.000000000'
 '2016-04-06T00:00:00.000000000' '2016-04-07T00:00:00.000000000'
 '2016-04-08T00:00:00.000000000' '2016-04-09T00:00:00.000000000'
 '2016-04-10T00:00:00.000000000' '2016-04-11T00:00:00.000000000'
 '2016-04-12T00:00:00.000000000' '2016-04-13T00:00:00.000000000'
 '2016-04-14T00:00:00.000000000' '2016-04-15T00:00:00.000000000'
 '2016-04-16T00:00:00.000000000' '2016-04-17T00:00:00.000000000'
 '2016-04-18T00:00:00.000000000' '2016-04-19T00:00:00.000000000'
 '2016-04-20T00:00:00.000000000' '2016-04-21T00:00:00.000000000'
 '2016-04-22T00:00:00.000000000' '2016-04-23T00:00:00.000000000'
 '2016-04-24T00:00:00.000000000' '2016-04-25T00:00:00.000000000'
 '2016-04-26T00:00:00.000000000' '2016-04-27T00:00:00.000000000'
 '2016-04-28T00:00:00.000000000' '2016-04-29T00:00:00.000000000'
 '2016-04-30T00:00:00.000000000' '2016-05-01T00:00:00.000000000'
 '2016-05-02T00:00:00.000000000' '2016-05-03T00:00:00.000000000'
 '2016-05-04T00:00:00.000000000' '2016-05-05T00:00:00.000000000'
 '2016-05-06T00:00:00.000000000' '2016-05-07T00:00:00.000000000'
 '2016-05-08T00:00:00.000000000' '2016-05-09T00:00:00.000000000'
 '2016-05-10T00:00:00.000000000' '2016-05-11T00:00:00.000000000'
 '2016-05-12T00:00:00.000000000' '2016-05-13T00:00:00.000000000'
 '2016-05-14T00:00:00.000000000' '2016-05-15T00:00:00.000000000'
 '2016-05-16T00:00:00.000000000' '2016-05-17T00:00:00.000000000'
 '2016-05-18T00:00:00.000000000' '2016-05-19T00:00:00.000000000'
 '2016-05-20T00:00:00.000000000' '2016-05-21T00:00:00.000000000'
 '2016-05-22T00:00:00.000000000' '2016-05-23T00:00:00.000000000'
 '2016-05-24T00:00:00.000000000' '2016-05-25T00:00:00.000000000'
 '2016-05-26T00:00:00.000000000' '2016-05-27T00:00:00.000000000'
 '2016-05-28T00:00:00.000000000' '2016-05-29T00:00:00.000000000'
 '2016-05-30T00:00:00.000000000' '2016-05-31T00:00:00.000000000'
 '2016-06-01T00:00:00.000000000' '2016-06-02T00:00:00.000000000'
 '2016-06-03T00:00:00.000000000' '2016-06-04T00:00:00.000000000'
 '2016-06-05T00:00:00.000000000' '2016-06-06T00:00:00.000000000'
 '2016-06-07T00:00:00.000000000' '2016-06-08T00:00:00.000000000'
 '2016-06-09T00:00:00.000000000' '2016-06-10T00:00:00.000000000'
 '2016-06-11T00:00:00.000000000' '2016-06-12T00:00:00.000000000'
 '2016-06-13T00:00:00.000000000' '2016-06-14T00:00:00.000000000'
 '2016-06-15T00:00:00.000000000' '2016-06-16T00:00:00.000000000'
 '2016-06-17T00:00:00.000000000' '2016-06-18T00:00:00.000000000'
 '2016-06-19T00:00:00.000000000' '2016-06-20T00:00:00.000000000'
 '2016-06-21T00:00:00.000000000' '2016-06-22T00:00:00.000000000'
 '2016-06-23T00:00:00.000000000' '2016-06-24T00:00:00.000000000'
 '2016-06-25T00:00:00.000000000' '2016-06-26T00:00:00.000000000'
 '2016-06-27T00:00:00.000000000' '2016-06-28T00:00:00.000000000'
 '2016-06-29T00:00:00.000000000' '2016-06-30T00:00:00.000000000'
 '2016-07-01T00:00:00.000000000' '2016-07-02T00:00:00.000000000'
 '2016-07-03T00:00:00.000000000' '2016-07-04T00:00:00.000000000'
 '2016-07-05T00:00:00.000000000' '2016-07-06T00:00:00.000000000'
 '2016-07-07T00:00:00.000000000' '2016-07-08T00:00:00.000000000'
 '2016-07-09T00:00:00.000000000' '2016-07-10T00:00:00.000000000'
 '2016-07-11T00:00:00.000000000' '2016-07-12T00:00:00.000000000'
 '2016-07-13T00:00:00.000000000' '2016-07-14T00:00:00.000000000'
 '2016-07-15T00:00:00.000000000' '2016-07-16T00:00:00.000000000'
 '2016-07-17T00:00:00.000000000' '2016-07-18T00:00:00.000000000'
 '2016-07-19T00:00:00.000000000' '2016-07-20T00:00:00.000000000'
 '2016-07-21T00:00:00.000000000' '2016-07-22T00:00:00.000000000'
 '2016-07-23T00:00:00.000000000' '2016-07-24T00:00:00.000000000'

In [70]:
proj.dtypes

_projectid                                        object
school_latitude                                  float64
school_longitude                                 float64
school_city                                       object
school_state                                      object
school_zip                                       float64
school_metro                                       int64
school_charter                                     int64
school_magnet                                      int64
school_year_round                                  int64
school_nlns                                        int64
school_kipp                                        int64
school_charter_ready_promise                       int64
teacher_prefix                                     int64
teacher_teach_for_america                          int64
teacher_ny_teaching_fellow                         int64
primary_focus_subject                              int64
primary_focus_area                                 int64
resource_type                                      int64
poverty_level                                      int64
grade_level                                        int64
total_price_excluding_optional_support           float64
total_price_including_optional_support           float64
students_reached                                 float64
total_donations                                  float64
num_donors                                         int64
eligible_double_your_impact_match                  int64
eligible_almost_home_match                         int64
funding_status                                    object
date_posted                               datetime64[ns]
date_expiration                           datetime64[ns]
timespan                                           int64
month_posted                                       int64
dtype: object

In [71]:
#proj['funding_status'].replace(['failure','success'],[0,1],inplace=True)
proj['funding_status'].unique()

array(['failure', 'success'], dtype=object)

In [72]:
proj.head()

,_projectid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_charter,school_magnet,school_year_round,...,students_reached,total_donations,num_donors,eligible_double_your_impact_match,eligible_almost_home_match,funding_status,date_posted,date_expiration,timespan,month_posted
6865,cf61d93f54f6aa46747db15b23eda4a0,41.765977,-87.653093,Chicago,IL,60621.0,0,0,0,0,...,42.0,0.00,0,0,0,failure,2004-12-16,2016-06-17,4201,12
8029,2dfe551457c5b086113c205d3dfcf03a,41.765977,-87.653093,Chicago,IL,60621.0,0,0,0,0,...,42.0,0.00,0,0,0,failure,2005-02-26,2016-06-17,4129,2
10301,6c412f598392c6498c46e5be9bdbdbab,35.755771,-80.974552,Statesville,NC,28677.0,2,0,0,0,...,16.0,0.00,0,0,0,failure,2005-07-01,2016-01-29,3864,7
16434,873d0f24179f92033a67c97b09c2b165,40.716050,-73.990920,New York City,NY,10002.0,0,0,0,0,...,375.0,458.00,3,0,0,success,2006-01-07,2016-06-26,3823,1
16445,39cc140c93514b4cad8f6df0da42e24d,40.832143,-73.917686,New York City,NY,10456.0,0,0,0,0,...,29.0,737.03,19,0,0,success,2006-01-08,2016-12-31,4010,1

In [73]:
proj.dtypes

_projectid                                        object
school_latitude                                  float64
school_longitude                                 float64
school_city                                       object
school_state                                      object
school_zip                                       float64
school_metro                                       int64
school_charter                                     int64
school_magnet                                      int64
school_year_round                                  int64
school_nlns                                        int64
school_kipp                                        int64
school_charter_ready_promise                       int64
teacher_prefix                                     int64
teacher_teach_for_america                          int64
teacher_ny_teaching_fellow                         int64
primary_focus_subject                              int64
primary_focus_area                                 int64
resource_type                                      int64
poverty_level                                      int64
grade_level                                        int64
total_price_excluding_optional_support           float64
total_price_including_optional_support           float64
students_reached                                 float64
total_donations                                  float64
num_donors                                         int64
eligible_double_your_impact_match                  int64
eligible_almost_home_match                         int64
funding_status                                    object
date_posted                               datetime64[ns]
date_expiration                           datetime64[ns]
timespan                                           int64
month_posted                                       int64
dtype: object

In [74]:
proj.to_csv('proj_cleaned_encoded.csv')